@model Game.GUI.ViewModels.Map.MapViewModel
@{
    Layout = null;
    var tilePx = 50;
    var map = Model.Map;
    var userBuildings = Model.UserBuildings;
    var userProducts = Model.UserProducts;
    var heightPx = map.Height * tilePx;
    var widthPx = map.Width * tilePx;
    var budynkiArray = Model.BuildingsArray;
    var productNames = Model.ProductNames;
}

<div class="fake-building"></div>
<div class="loader" style="display:none;">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>

</div>
<div>
    <div class="map" id="map" style="width:@(widthPx)px; height:@(heightPx)px">
        @{ var startTimer = false; }
        @foreach (var a in userBuildings)
        {
            var xPx = (a.x_left * tilePx).ToString() + "px";
            var yPx = (a.y_top * tilePx).ToString() + "px";
            var hPx = ((a.y_bottom - a.y_top + 1) * tilePx).ToString() + "px";
            var wPx = ((a.x_right - a.x_left + 1) * tilePx).ToString() + "px";
            <div class="building" id="building_@a.ID" style="left:@xPx; top:@yPx; height:@hPx; width:@wPx;
                background: repeating-linear-gradient(
                135deg,
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5) 10px,
                #@a.Color 10px,
                #@a.Color 20px)">
                <div class="building-name">@a.Alias</div>
                @if (a.Status == "gotowy")
                {
                    if (a.CanDelete)
                    {
                        <div name="remove" class="building-remove" data-buildingid="@a.ID" data-position="bottom" data-delay="50" data-tooltip="Koszt - @a.DestPrice"><i class="fa fa-times"></i></div>
                    }
                    else
                    {
                        <div class="building-remove" data-buildingid="@a.ID" data-position="bottom" data-delay="50" data-tooltip="Koszt - @a.DestPrice"><i class="fa fa-times" style="color: gray"></i></div>
                    }
                }
                @if (a.Status != "gotowy")
                {
                    <div class="progress demo-wrapper html5-progress-bar">
                        <progress class="progress-bar" style="width:100%" max="@a.BuildTime" value="@a.BuildDone"></progress>
                        @startTimer = true;
                        <span class="progress-value">34%</span>
                    </div>
                    <div class="time-left"></div>
                }
            </div>
        }

    </div>
</div>




<script type="text/javascript" src="~/Scripts/jquery-2.1.4.js"></script>
<script>
    $(document).ready(function () {
        setBudynki(@budynkiArray);
        setMapSize(@map.Width, @map.Height);
        //fillWithData(@userProducts, @Html.Raw(productNames));
        //setInterval(function () { updateProduct(@userProducts); }, 1000);
        setInterval(progressBar, 1000);
        $('.building-remove').tooltip({delay: 50});

    });
</script>
