@model Game.GUI.ViewModels.Notification.NotificationViewModel
@{
    Layout = null;
}

<div>
    <div id="NotificationInner">

        <ul id="notificationList">
            @foreach (var item in Model.listModel)
            {
                if (item.Description.Contains("zaproszenie"))
                {
                    <li><div class="chip newNotification" ><span class="notificationLink" onclick="location.href='@Url.Action("Profil", "User", new { User = @item.SenderLogin })'">@item.Description </span><i class="material-icons fa fa-times-circle" onclick="disableNotification('@item.ID')"></i></div></li>
                }
                else if (item.Description.Contains("umowa"))
                {
                    <li><div class="chip newNotification"><span class="notificationLink" onclick="location.href='@Url.Action("Index", "Office")'">@item.Description </span><i class="material-icons fa fa-times-circle" onclick="disableNotification('@item.ID')"></i></div></li>
                }
                else
                {
                    <li><div class="chip newNotification" ><span class="notificationLink" onclick="location.href='@Url.Action("Content", "Message", new { MessageID = @item.Temp_ID })'">@item.Description </span><i class="material-icons fa fa-times-circle" onclick="disableNotification(@item.ID)"></i></div></li>
                }
            }
        </ul>
    </div>
</div>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/js/jquery.slimscroll.min.js"></script>

<script>
    function disableNotification(id)
    {
        $.ajax({
            type: "POST",
            url: 'ajax/removenotification',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ id: id }),
            dataType: "json"
        });
        return true;
    }

    $('#NotificationInner').slimScroll({
        size: '10px',
        height: '350px',
        alwaysVisible: true
    });
</script>