@model Game.GUI.ViewModels.ListTableViewModel
@{
    Layout = null;
}

<div>
    <div id="NotificationInner">

        <ul id="notificationList">
            @foreach (var item in Model.tableList)
            {
                if (item.Description.Contains("zaproszenie"))
                {
                    <li><div class="chip newNotification" ><span onclick="location.href='@Url.Action("Profil", "User", new { User = @item.Login })'">@item.Description </span><i class="material-icons fa fa-times-circle" onclick="disableNotification('@item.ID')"></i></div></li>
                }
                else
                {
                    <li><div class="chip newNotification" ><span onclick="location.href='@Url.Action("Index", "Message")'">@item.Description </span><i class="material-icons fa fa-times-circle" onclick="disableNotification(@item.ID)"></i></div></li>
                }
            }
        </ul>
    </div>
</div>
<script>
    function disableNotification(id)
    {
        $.ajax({
            type: "POST",
            url: 'ajax/removenotification',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ id: id }),
            dataType: "json"
        });
        return true;
    }
</script>