@model Game.GUI.ViewModels.User.LoginViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row clearfix">
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="col l1">&nbsp;</div>
        <div class="col l6 s12 login-right">
            <div class="login-inner loginForm ">
                <img src="~/Content/Images/logo.png" class="responsive-img" />
                @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <form class="col s12">
                        @Html.AntiForgeryToken()

                        <div class="input-field col s12">
                            @Html.TextBoxFor(m => m.Login, new { @class = "validate" })
                            <label for="Login">Login</label>
                        </div>
                        <div class="input-field col s12">
                            @Html.PasswordFor(m => m.Password, new { @class = "validate" })
                            <label for="Password">Hasło</label>
                        </div>


                        <div class="loginButton">
                            <div class="logowanieButton">
                                <button type="submit" class="btn btn-large">Zaloguj</button>
                            </div>
                            <div class="loginRegister">
                                <a href='@Url.Action("Register", "User")'>Utwórz konto</a><br />
                                <a href='@Url.Action("RecoveryPassword", "User")'>Zapomniałeś hasła?</a>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
        <div class="col l5 game-description center-block">
            <article class="uk-article" id="homeArticle">
                <p>Marzysz o wielkich pieniądzach? Chcesz sprawdzić swoje umiejętności w świecie biznesu?<br /> Dołącz do naszej społeczności i przekonaj się, że pierwszego miliona nie trzeba ukraść!</p>

                <p>Pierwszy Milion to strategiczna gra przeglądarkowa, w której celem gracza jest wzbogacenie się. Stawiasz na wydobycie surowców? Handel? Opłacalne umowy z innymi graczami? A może zamierzasz przetwarzać kupione na rynku produkty? Wszystko zależy od Ciebie!</p>

                <p>Zasady gry są bardzo proste: każdy gracz dostaje trochę funduszy i działkę. Co dalej? Buduj, sprzedawaj, buduj jeszcze więcej i bogać się!</p>

                <p>
                    Budynki dzielimy na dwie grupy: produkujące dobra oraz przetwarzające je.
                    Przykładowo: zainwestuj w kopalnię złota oraz diamentu. Wydobyte dobra możesz od razu sprzedać na rynku lub... wyprodukować biżuterię, która jest więcej warta niż nieprzetworzone surowce.
                </p>

                <p>Chcesz wytwarzać bardziej złożone produkty, ale nie chcesz sam wydobywać niezbędnych surowców? Kup je na rynku! Czujesz, że przepłacasz za złoto, ale nie chcesz budować własnej kopalni? Zaproś znajomego do współpracy - podpiszcie umowę!</p>

                <p>
                    Zasady umów są następujące: proponujący umowę sugeruje podział kosztów. Zapłaciłeś 75 % ceny budowy kopalni - 75 % wydobywanego złota trafia do Ciebie. Jest jeden haczyk... budynek musi stać na działce jednego z graczy, więc wykaż się zdolnościami negocjacyjnymi i namów drugiego gracza na użyczenie miejsca na działce.
                    Co zyskujesz podpisując umowę? Oczywiście czas, a jak wiadomo - czas to pieniądz!
                </p>

                <p>
                    Zainteresowany? Zatem <a href='@Url.Action("Register", "User")'>zarejestuj</a>  się za darmo i wejdź do świata wielkich pieniędzy!
                </p>
            </article>
        </div>

    }
    else
    {
        <div class="IndexDiv">
            <div class="col m4 l3 buildingList card">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a href="#Building">Budynki</a></li>
                        <li class="tab col s3"><a href="#DealBuilding" id="notifi">Budynki z umów</a></li>
                    </ul>
                </div>
                <div id="Building" style="display:inline-block"><div id="Building">@Html.Action("_BuildingsList", "Building")</div></div>
                <div id="DealBuilding" style="display:inline-block; width: 100%"><div id="DealBuilding">@Html.Action("_DealBuildings", "UserBuilding")</div></div>
            </div>
            <div class="mapBox card">
                @Html.Action("_UserMap", "Map")
            </div>
            <div class="col m4 l3 infoBox card">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a href="#Friend">Znajomi</a></li>
                        <li class="tab col s3"><a href="#Notification" id="notifi">Powiadomienia</a></li>
                    </ul>
                </div>
                <div id="Friend" style="display:inline-block; width: 100%">@Html.Action("_FriendList", "User")</div>
                <div id="Notification" style="display:inline-block; width: 100%"><div id="NotificationBox" style="width: 100%">@Html.Action("_Notification", "Notification")</div></div>
            </div>
        </div>
    }
</div>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('ul.tabs').tabs();
        if ($('#Notification ul li').length >= 1) {
            $('.infoBox .tabs').tabs('select_tab', 'Notification');
        }

        if ($('#DealBuilding ul li').length >= 1) {
            $('.buildingList .tabs').tabs('select_tab', 'DealBuilding');
        }
    });

</script>
