@model Game.GUI.ViewModels.ListTableViewModel
@{
    Layout = null;
}
<div id="officeOfferAdd" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("AddOffer", "Office", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.Product_Name, new {  @placeholder = "", @class = "validate inputProductName" })
                <label for="Product_Name">Nazwa produktu</label>
            </div>

                <div class="input-field col s6" id="Number">
                    @Html.TextBoxFor(m => m.tableView.Number, new {  @type = "number", @min="0", @placeholder = "", @class = "validate inputNumber" })
                    <label for="Number">Ilość</label>
                </div>

                <div class="input-field col s6" id="Price">
                    @Html.TextBoxFor(m => m.tableView.Price, new { @type = "number", @placeholder = "", @class = "validate" })
                    <label for="Price">Cena za sztukę</label>
                </div>

                <input type="submit" value="Zapisz" class="btn waves-effect waves-light addButton" name="action" />
        }
    </div>
</div>

@foreach (var item in Model.tableList)
{
    <div class="officeProduct">
        <span class="name">@item.Name: @item.Value</span>
        <button data-target="officeOfferAdd" class="btn modal-trigger officeOfferAdd" onclick="fillData('@item.Name',@item.Value)"><i class="fa fa-shopping-cart"></i></button>
    </div>
}
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/js/UpdateRow.js"></script>
<script>
    $(document).ready(function () {
        $('.officeOfferAdd').leanModal();
    });
</script>
