@model Game.GUI.ViewModels.Product.UserProduct.UserProductViewModel
@{
    Layout = null;
}
<div id="officeOfferAdd" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("AddOffer", "Office", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal sellProduct", role = "form" }))
            {
            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Product_Name, new {  @placeholder = "", @class = "validate inputProductName" })
                <label for="Product_Name">Nazwa produktu</label>
            </div>

                <div class="input-field col s6" id="Number">
                    @Html.TextBoxFor(m => m.viewModel.Value, new { @type = "number", @min="1", @value="1", @placeholder = "", @class = "validate inputNumber", @onkeypress = "return isNumberKey(event)" })
                    <label for="Number" data-error="Wartość nie może być mniejsza niż 1.">Ilość</label>
                </div>

                <div class="input-field col s6" id="Price">
                    @Html.TextBoxFor(m => m.viewModel.Price, new { @type = "number", @min="1", @value = "1", @placeholder = "", @class = "validate", @onkeypress = "return isNumberKey(event)" })
                    <label for="Price" data-error="Wartość nie może być mniejsza niż 1.">Cena za sztukę</label>
                </div>

                <input type="submit" value="Zapisz" class="btn addButton" name="action" />
        }
    </div>
</div>

<div class="userProduct">
    @foreach (var item in Model.listModel)
    {
        <div class="officeProduct">
            <span class="name">@item.Product_Name: @item.Value</span>
            <button data-target="officeOfferAdd" class="btn modal-trigger officeOfferAdd"  onclick="fillData('@item.Product_Name',@item.Value)"><i class="fa fa-shopping-cart"></i></button>
        </div>
    }
</div>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/js/UpdateRow.js"></script>
<script src="~/Scripts/js/jquery.slimscroll.min.js"></script>
<script>

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 47 || charCode > 57)) {

            return false;
        }
        return true;
    }

    $(".sellProduct").bind('keyup change', function(){
        if (parseInt($('.inputNumber').val()) > $('.inputNumber').attr("max")) {
            var maxV = $('.inputNumber').attr("max");
            $('.inputNumber').val(maxV);
        }
    });

    $(document).ready(function () {
        $('.officeOfferAdd').leanModal();
    });

    $('.userProduct').slimScroll({
        color: '#000',
        size: '10px',
        height: '350px',
        alwaysVisible: true
    });
</script>
