@model Game.GUI.ViewModels.ListTableViewModel
@{
    Layout = null;
}

<div id="dealInner">
    <div id="officeDealAdd" class="modal">
        <div class="modal-content">
            @using (Html.BeginForm("AddDeal", "Office", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <form class="col s12">
                    @Html.AntiForgeryToken()

                    <div class="input-field col s12">
                        @Html.TextBoxFor(m => m.tableView.Login, new { @placeholder = "", @class = "validate inputLogin" })
                        <label for="Login">Wspólnik: </label>
                    </div>

                    <div class="input-field col s12" id="Number">
                        @Html.TextBoxFor(m => m.tableView.Name, new { @placeholder = "", @class = "validate inputBuildingName" })
                        <label for="BuildingName">Budynek:</label>
                    </div>
                    <div class="col s12">
                        <div class="range-field col s6" id="Number">
                            <label for="Percent_User1">Czas trwania (dni):</label>
                            @Html.TextBoxFor(m => m.tableView.Value, new { @type = "range", @min = "10", @max = "30", @step = "10", @placeholder = "", @class = "validate inputpercent_user" })
                        </div>
                        <div class="range-field col s6" id="Number">
                            <label for="Percent_User1">Wkład własny i procent produkcji (%): </label>
                            @Html.TextBoxFor(m => m.tableView.Percent_User1, new { @type = "range", @min = "10", @max = "90", @step = "10", @placeholder = "", @class = "validate inputpercent_user" })
                        </div>
                    </div>
                    <div class="switch col s6">
                        <label for="Price">Budynek na mojej mapie: </label>
                        <label>
                            Nie
                            <input type="checkbox" id="tableView_Owner" name="tableView.Owner" />
                            <span class="lever"></span>
                            Tak
                        </label>
                    </div>


                    <button type="submit" class="btn waves-effect waves-light addButton" id="addDeal" name="action">Złóż ofertę</button>
                </form>
            }
        </div>
    </div>

    <div id="officeDealShow" class="modal">
        <div class="modal-content">
            <div>Oferta od <span id="login"></span></div>
            <div>Dotyczy wybudowania <span id="budynek"></span> na <span id="mapa"></span>.</div>
            <div>Przy twoim wkładzie w wysokości <span id="procent"></span>%.</div>
            <div><span id="procentproduktu"></span>% wytworzonych produktów będzie przeznaczonych dla ciebie</div>

            <button class="btn-large officeDealAccept" id="acceptDeal">Akceptuje</button> <button class="btn-large" id="cancelDeal">Odrzuć</button>
        </div>
    </div>

    <button data-target="officeDealAdd" class="btn modal-trigger officeDealAdd">Złóż oferę</button>
    <div id="dealBox">

        <div id="dealList">
            <ul class="collapsible" data-collapsible="accordion">
                @foreach (var item in Model.tableList)
            {
                if (item.IsActive == true)
                {
                        <li>
                            @if (item.Value == 0)
                            { <button class="btn rerunDeal" id="cancelRerun" data-id="@item.ID">Odrzuć</button><button class="btn rerunDeal" id="rerunDeal" data-id="@item.ID" data-user1="@item.User2_Login" data-user2="@item.Login">Proponuj odnowienie (@item.LogDays dni.)</button>
                            <div class="collapsible-header disabled">@item.Name</div>
                            }
                            else
                            {
                                <div class="collapsible-header">@item.Name</div>
                            }
                            <div class="collapsible-body">
                                <p>

                                    @if (item.Login == User.Identity.Name)
                                    {
                                        <span>Wspólnik: @item.User2_Login<br /></span>
                                        <span>Procent produktu dla mnie: @item.Percent_User2</span><br />
                                    }
                                    else
                                    {
                                        <span>Wspólnik: @item.Login<br /></span>
                                        <span>Procent produktu dla mnie: @item.Percent_User1</span><br />
                                    }
                                    @if (item.Owner == true)
                                    {
                                        <span>Budynek stoi na twojej działce</span><br />
                                    }
                                    else
                                    {
                                        <span>Budynek stoi na działce wspólnika</span><br />
                                    }
                                    Umowa zawarta na @item.LogDays dni.<br />
                                    @if (item.Value > 1)
                                    {
                                        <span>Umowa wygasa za @item.Value dni</span>
                                    }
                                    else if (item.Value == 1)
                                    {
                                        <span>Umowa wygasa za @item.Value dzień</span>
                                    }
                                    else
                                    {
                                        <span>Umowa wygasa dziś</span>
                                    }
                                </p>
                            </div>
                        </li>
                    }
                    else if (item.IsActive == false)
                    {
                        if (item.Login == User.Identity.Name)
                        {
                            <li>
                                <div class="collapsible-header disabled">@item.Name <button class="btn myoffer disabled">Oczekuje</button></div>
                                <div class="collapsible-body">
                                    <p>
                                        Wspólnik: @item.User2_Login<br />
                                        Produkcja dla mnie: @item.Percent_User1<br />
                                        @if (item.Owner == true)
                                        {
                                            <span>Budynek stoi na twojej działce</span><br />
                                        }
                                        else
                                        {
                                            <span>Budynek stoi na działce wspólnika</span><br />
                                        }
                                        Umowa na @item.LogDays dni.<br />
                                    </p>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li>
                                <div class="collapsible-header disabled">
                                    @item.Name <button data-target="officeDealShow" onclick='showDeal("@item.ID","@item.Login", "@item.Percent_User1", "@item.Name","@item.Owner.ToString()")' class="btn modal-trigger officeDealShow">Zobacz ofertę</button>
                                </div>
                            </li>
                        }
                    }
                }
            </ul>

        </div>
    </div>
</div>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/js/jquery.slimscroll.min.js"></script>

<script>
    $(document).ready(function () {
        $('.officeDealAdd').leanModal();
        $('.officeDealShow').leanModal();

    });
    $(document).on("click", "[type='checkbox']", function (e) {
        if (this.checked) {
            $(this).attr("value", "true");
        } else {
            $(this).attr("value", "false");
        }
    });

    $("#addDeal").click(function () {
        if ($('input[id=test1]:checked').val() == "on") {
            $("#tableView_Value").val() = 7;
            console.log($("#tableView_Value").val());
            console.log($('input[id=test1]:checked').val());
        }
        else if ($('input[id=test2]:checked').val() == "on") {
            $("#tableView_Value").val() = 10;
        }
        else if ($('input[id=test3]:checked').val() == "on") {
            $("#tableView_Value").val() = 20;
        }
        else if ($('input[id=test4]:checked').val() == "on") {
            $("#tableView_Value").val() = 30;
        }
    });

    var offer_id;



    var user;

    function showDeal(id, login, percent, building, owner) {

        $("#login").empty();
        $("#procent").empty();
        $("#procentproduktu").empty();
        $("#budynek").empty();
        $("#mapa").empty();

        offer_id = id;
        user = login;
        $("#login").append(login);
        $("#procent").append(100 - percent);
        $("#procentproduktu").append(100 - percent);
        $("#budynek").append(building);

        if (owner == true) {
            $("#mapa").append("twojej mapie");
        }
        else {
            $("#mapa").append("mapie wspólnika");
        }

    }

    $("#acceptDeal").click(function () {
        $.ajax({
            type: "POST",
            url: '/Office/AcceptDeal',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ a: offer_id, user: user }),
            success: function (data) {
                location.reload();
            }
        });
    });

    $("#cancelDeal").click(function () {
        $.ajax({
            type: "POST",
            url: '/Office/CancelDeal',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ a: offer_id, user: user }),
            success: function (data) {
                location.reload();
            }
        });
    });

    $("#cancelRerun").click(function () {

        offer_id = $(this).data('id');

        console.log(offer_id);
        $.ajax({
            type: "POST",
            url: '/Office/CancelDeal',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ a: offer_id }),
            success: function (data) {
                location.reload();
                console.log(offer_id);
            }
        });
    });

    $("#rerunDeal").click(function () {

        offer_id = $(this).data('id');

        if ($(this).data('user1') == undefined) {
            user = $(this).data('user2');
        }
        else {
            user = $(this).data('user1');
        }

        console.log(offer_id);
        $.ajax({
            type: "POST",
            url: '/Office/RerunDeal',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ a: offer_id, user: user }),
            success: function (data) {
                location.reload();
                console.log(offer_id);
            }
        });
    });

    $('#dealList').slimScroll({
        size: '10px',
        height: '350px',
        alwaysVisible: true
    });
</script>
