@model Game.GUI.ViewModels.Deal.DealViewModel
@{
    Layout = null;
}

<div id="dealInner">
    <div id="officeDealAdd" class="modal modal-fixed-footer">
        <div class="modal-content">
            @using (Html.BeginForm("AddDeal", "Office", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <form class="col s12">
                    @Html.AntiForgeryToken()
                    
                    <div class="input-field col s12">
                        @*@Html.TextBoxFor(m => m.viewModel.User2_Login, new { @placeholder = "", @class = "validate inputLogin" })*@
                        @Html.DropDownListFor(m => m.viewModel.User2_Login, new SelectList(Model.userList), new { @class = "validate" })
                        <label for="Login">Wspólnik: </label>
                    </div>

                    <div class="input-field col s12" id="Number">
                        @*@Html.TextBoxFor(m => m.viewModel.Building_Name, new { @placeholder = "", @class = "validate inputBuildingName" })*@
                        @Html.DropDownListFor(m => m.viewModel.Building_Name, Model.buildingList2, new { @class = "validate" })
                        <label for="BuildingName">Budynek:</label>
                    </div>
                    <div class="col s12">
                        <div class="range-field col s6" id="Number">
                            <label for="Percent_User1">Czas trwania (dni):</label>
                            @Html.TextBoxFor(m => m.viewModel.DealDay, new { @type = "range", @min = "30", @max = "60", @step = "15", @placeholder = "", @class = "validate inputpercent_user" })
                        </div>
                        <div class="range-field col s6" id="Number">
                            <label for="Percent_User1">Wkład własny i procent produkcji (%): </label>
                            @Html.TextBoxFor(m => m.viewModel.Percent_User1, new { @type = "range", @min = "10", @max = "90", @step = "10", @placeholder = "", @class = "validate inputpercent_user" })
                        </div>
                    </div>
                    <div class="switch col s6">
                        <label for="Price">Budynek na mojej mapie: </label>
                        <label>
                            Nie
                            <input type="checkbox" id="viewModel_Owner" name="viewModel.Owner" />
                            <span class="lever"></span>
                            Tak
                        </label>
                    </div>


                    <button type="submit" class="btn addButton" id="addDeal" name="action">Złóż ofertę</button>
                </form>
            }
            <div class="modal-footer">
                Zanim zaproponujesz umowę, upewnij się, że jesteś w stanie zrealizować jej warunki.
            </div>
        </div>
    </div>

    <div id="officeDealShow" class="modal">
        <div class="modal-content">
            <div>Oferta od <span id="login"></span></div>
            <div>Dotyczy wybudowania <span id="budynek"></span> na <span id="mapa"></span>.</div>
            <div>Przy twoim wkładzie w wysokości <span id="procent"></span>%.</div>
            <div><span id="procentproduktu"></span>% wytworzonych produktów będzie przeznaczonych dla ciebie</div>

            <button class="btn-large officeDealAccept" id="acceptDeal">Akceptuje</button> <button class="btn-large" id="cancelDeal">Odrzuć</button>
        </div>
    </div>

    <button data-target="officeDealAdd" class="btn modal-trigger officeDealAdd">Złóż oferę</button>
    <div id="dealBox">

        <div id="dealList">
            <ul class="collapsible" data-collapsible="accordion">
                @foreach (var item in Model.listModel)
            {
                if (item.IsActive == true)
                {
                        <li>
                            @if (item.Value < 0)
                            {
                                <button class="btn rerunDeal" id="cancelRerun" data-id="@item.ID">Odrzuć</button><button class="btn rerunDeal" id="rerunDeal" data-id="@item.ID" data-user1="@item.User2_Login" data-user2="@item.User1_Login">Proponuj odnowienie (@item.DealDay dni.)</button>
                                <div class="collapsible-header disabled">@item.Building_Name</div>
                            }
                            else
                            {
                                <div class="collapsible-header">@item.Building_Name</div>
                            }
                            <div class="collapsible-body">
                                <p>

                                    @if (item.User1_Login == User.Identity.Name)
                                    {
                                        <span>Wspólnik: @item.User2_Login<br /></span>
                                        <span>Procent produktu dla mnie: @item.Percent_User2</span><br />
                                    }
                                    else
                                    {
                                        <span>Wspólnik: @item.User1_Login<br /></span>
                                        <span>Procent produktu dla mnie: @item.Percent_User1</span><br />
                                    }
                                    @if (item.Owner == true)
                                    {
                                        <span>Budynek stoi na twojej działce</span><br />
                                    }
                                    else
                                    {
                                        <span>Budynek stoi na działce wspólnika</span><br />
                                    }
                                    Umowa zawarta na @item.DealDay dni.<br />
                                    @if (item.DayToEnd > 1)
                                    {
                                        <span>Umowa wygasa za @item.DayToEnd dni</span>
                                    }
                                    else if (item.DayToEnd == 1)
                                    {
                                        <span>Umowa wygasa za @item.DayToEnd dzień</span>
                                    }
                                    else if (item.Value>0 && item.DayToEnd == 0)
                                    {
                                        <span>Umowa wygasa dziś</span>
                                    }
                                    else
                                    {
                                        <span>Umowa wygasła</span>
                                    }
                                </p>
                            </div>
                        </li>
                    }
                    else if (item.IsActive == false)
                    {
                        if (item.User1_Login == User.Identity.Name)
                        {
                            <li>
                                <div class="collapsible-header disabled">@item.Building_Name <button class="btn myoffer disabled">Oczekuje</button></div>
                                <div class="collapsible-body">
                                    <p>
                                        Wspólnik: @item.User2_Login<br />
                                        Produkcja dla mnie: @item.Percent_User1<br />
                                        @if (item.Owner == true)
                                        {
                                            <span>Budynek stoi na twojej działce</span><br />
                                        }
                                        else
                                        {
                                            <span>Budynek stoi na działce wspólnika</span><br />
                                        }
                                        Umowa na @item.DealDay dni.<br />
                                    </p>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li>
                                <div class="collapsible-header disabled">
                                    @item.Building_Name <button data-target="officeDealShow" onclick='showDeal("@item.ID","@item.User1_Login", "@item.Percent_User1", "@item.Building_Name","@item.Owner.ToString()")' class="btn modal-trigger officeDealShow">Zobacz ofertę</button>
                                </div>
                            </li>
                        }
                    }
                }
            </ul>


        </div>
    </div>
</div>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/js/jquery.slimscroll.min.js"></script>

<script>
    $(document).ready(function () {
        initDeal();
    });

    var offer_id;
    var user;
    function showDeal(id, login, percent, building, owner) {

        $("#login").empty();
        $("#procent").empty();
        $("#procentproduktu").empty();
        $("#budynek").empty();
        $("#mapa").empty();

        offer_id = id;
        user = login;
        $("#login").append(login);
        $("#procent").append(100 - percent);
        $("#procentproduktu").append(100 - percent);
        $("#budynek").append(building);

        if (owner == "True") {
            $("#mapa").append("twojej mapie");
        }
        else {
            $("#mapa").append("mapie wspólnika");
        }
    }
    $(document).on("click", "[type='checkbox']", function (e) {
        if (this.checked) {
            $(this).attr("value", "true");
        } else {
            $(this).attr("value", "false");
        }
    });

    function initDeal() {
        $('.officeDealAdd').leanModal();
        $('.officeDealShow').leanModal();
        $('select').material_select();

        $("#addDeal").click(function () {
            if ($('input[id=test1]:checked').val() == "on") {
                $("#viewModel_DealDay").val() = 7;
            }
            else if ($('input[id=test2]:checked').val() == "on") {
                $("#viewModel_DealDay").val() = 10;
            }
            else if ($('input[id=test3]:checked').val() == "on") {
                $("#viewModel_DealDay").val() = 20;
            }
            else if ($('input[id=test4]:checked').val() == "on") {
                $("#viewModel_DealDay").val() = 30;
            }
        });


        $("#acceptDeal").click(function () {
            $.ajax({
                type: "POST",
                url: '/Office/AcceptDeal',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ a: offer_id, user: user }),
                success: function (data) {
                    location.reload();
                }
            });
        });

        $("#cancelDeal").click(function () {
            $.ajax({
                type: "POST",
                url: '/Office/CancelDeal',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ a: offer_id, user: user }),
                success: function (data) {
                    location.reload();
                }
            });
        });

        $("#cancelDeal").click(function () {

            offer_id = $(this).data('id');

            $.ajax({
                type: "POST",
                url: '/Office/CancelDeal',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ a: offer_id }),
                success: function (data) {
                    location.reload();
                }
            });
        });

        $("#cancelRerun").click(function () {

            offer_id = $(this).data('id');

            $.ajax({
                type: "POST",
                url: '/Office/CancelRerun',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ a: offer_id }),
                success: function (data) {
                    location.reload();
                }
            });
        });

        $("#rerunDeal").click(function () {

            offer_id = $(this).data('id');

            if ($(this).data('user1') == undefined) {
                user = $(this).data('user2');
            }
            else {
                user = $(this).data('user1');
            }

            $.ajax({
                type: "POST",
                url: '/Office/RerunDeal',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ a: offer_id, user: user }),
                success: function (data) {
                    location.reload();
                }
            });
        });

        $('#dealList').slimScroll({
            size: '10px',
            height: '350px',
            alwaysVisible: true
        });
    }
</script>
