@model PagedList.IPagedList<Game.GUI.ViewModels.Ranking.RankingViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Ranking";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int temp = 1;
}
<div class="Ranking">
    <input type="text" id="search" class="searchInput" placeholder="Nazwa użytkownika" /> <button id="searchButton" class="btn searchButton">Szukaj</button>
    <div class="paginationBtn">
        @Html.PagedListPager(Model, Page_No => Url.Action("Index", new { Page_No }))
    </div>
    <div id="divRankign">

        <table class="bordered centered">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Użytkownik</th>
                    <th>Kwota</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
            {
                if (item.User_Login == User.Identity.Name)
                {
                        <tr onclick="location.href='@Url.Action("Profil", "User", new { User = @item.User_Login })'" class="yourLogin">
                            <td>@Html.DisplayFor(modelItem => item.Position)</td>
                            <td class="login">@Html.DisplayFor(modelItem => item.User_Login)</td>
                            <td>@Html.DisplayFor(modelItem => item.UserDolar)</td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Profil", "User", new { User = @item.User_Login })'">
                            <td>@Html.DisplayFor(modelItem => item.Position)</td>
                            <td class="login">@Html.DisplayFor(modelItem => item.User_Login)</td>
                            <td>@Html.DisplayFor(modelItem => item.UserDolar)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $("#searchButton").click(function() {
        var searchValue = $("#search").val();
        if(searchValue!="")
        {
            $.ajax({
                type: "POST",
                url: "Ranking/goToProfile",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ searchString: searchValue }),
                dataType: "json",
                success: function (data) {
                    if (data) {
                        window.location.replace("/User/Profil?User=" + $("#search").val());
                    }
                    else {
                        location.reload();
                    }
                },
            });
        }
    });
</script>
