@model Game.GUI.ViewModels.ListTableViewModel
@{
    Layout = null;
}

<div id="buildingList">
    @foreach (var item in Model.tableList)
    {
        if (item.Price <= Model.tableView.Value)
        {
            <span class="btn" onclick="buduj(@item.ID, @item.Width, @item.Height,@item.DealID)"><span class="buildingName">@item.Alias</span><span class="buildingPrice"><i class="fa fa-usd"></i>@item.Price</span></span>
        }
        else
        {
            <span class="btn disabled"><span class="buildingName">@item.Alias</span>  <span class="buildingPrice"><i class="fa fa-usd"></i>@item.Price</span></span>
        }
    }
</div>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/js/jquery.slimscroll.min.js"></script>
<script>
    $('#buildingList').slimScroll({
        size: '10px',
        height: '350px',
        alwaysVisible: true
    });
</script>