@model Game.GUI.ViewModels.Market.MarketViewModel
@{
    Layout = null;
}

<button class='dropdown-button btn systemOfferBtn' href='#' data-activates='systemOffer'>Sprzedaj produkty</button>

<ul id='systemOffer' class='dropdown-content systemOffer'>
    @foreach (var item in Model.systemOfferList)
            {
        <li class="systemOfferItem">
            <p class="productName">@item.Product_Name</p><p class="productPrice">$@item.Price/szt</p>
            <button class="btn sellProduct" data-productid="@item.Product_ID" data-price="@item.Price" data-productname="@item.Product_Name">Sprzedaj</button>
            <input type="number" class="numberValue" id="numberValue_@item.Product_ID" placeholder="Ilość" name="numValue" min="1" data-productid="@item.Product_ID" onkeypress="return isNumberKey(event)">
        </li>
    }
</ul>


<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script>
    function isNumberKey(evt) {

        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 47 || charCode > 57)) {

            return false;
        }
        return true;
    }

    $(".numberValue").bind("keyup change", function () {
        var id = $(this).data('id');
        var productid = $(this).data('productid');
        var val = parseInt($("#product_" + productid).text());
        $("#numberValue_" + productid).attr({ "max": val });
        if (parseInt($("#numberValue_" + productid).val()) > $("#numberValue_" + productid).attr("max")) {
            $("#numberValue_" + productid).val(val);
        }
    });


    $(document).ready(function () {
        $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrain_width: false, // Does not change width of dropdown to that of the activator
            hover: true, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: false, // Displays dropdown below the button
            alignment: 'left' // Displays dropdown with edge aligned to the left of button
        });
    });

    $(".sellProduct").on('click', function () {
        var id = $(this).data('productid');
        var number = parseInt($("#numberValue_" + id).val());
        var money = $(this).data('price') * number;
        var productname = $(this).data('productname');


        $.ajax({
            type: "POST",
            url: 'Market/SellProduct',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ productid: id, valueproduct: number, money: money, name: productname }),
            success: function (data) {
                location.reload();
            }
        });
    });
</script>
