@model Game.GUI.ViewModels.Market.ListMarketViewModel
@{
    ViewBag.Title = "Market";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="market">
    <button data-target="modal1" class="btn modal-trigger">Modal</button>

    <div id="modal1" class="modal">
        <div class="modal-content">
            @using (Html.BeginForm("AddOffer", "Market", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.Label("Nazwa produktu: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.marketView.Product_Name, null, new { @class = "uk-width-1-1 uk-form-large" })
                @Html.Label("Ilość: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.marketView.Number, null, new { @class = "uk-width-1-1 uk-form-large" })
                @Html.Label("Cena za sztukę: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.marketView.Price, null, new { @class = "uk-width-1-1 uk-form-large" })
                <input type="submit" value="Zapisz" class="uk-button-large" />
            }
        </div>
    </div>


    <table class="highlight bordered responsive-table centered market">
        <thead>
            <tr>
                <th>Wystwaiający</th>
                <th>Produkt</th>
                <th>Ilość</th>
                <th>Cena/szt.</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.marketList)
            {
                <tr>
                    <td>@item.Login</td>
                    <td>@item.Product_Name</td>
                    <td>@item.Number</td>
                    <td>@item.Price</td>
                    <td id="buyTd">
                        <input type="number" id="numValue" min="0" max="100" value="1">
                        <button type="submit" class="waves-effect waves-light btn" id="buyButton" onclick="location.href='@Url.Action("BuyOffer","Market")'">Kup</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
