@model Game.GUI.ViewModels.Market.ListMarketViewModel
@{
    ViewBag.Title = "Market";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="market">

    <div id="offerAdd" class="modal">
        <div class="modal-content">
            @using (Html.BeginForm("AddOffer", "Market", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="input-field col s12">
                    @Html.TextBoxFor(m => m.marketView.Product_Name, new { @placeholder = "", @class = "validate" })
                    <label for="Product_Name">Nazwa produktu</label>
                </div>

                <div class="input-field col s6" id="Number">
                    @Html.TextBoxFor(m => m.marketView.Number, new { @type = "number", @placeholder = "", @class = "validate" })
                    <label for="Number">Ilość</label>
                </div>

                <div class="input-field col s6" id="Price">
                    @Html.TextBoxFor(m => m.marketView.Price, new { @type = "number", @placeholder = "", @class = "validate" })
                    <label for="Price">Cena za sztukę</label>
                </div>

                <input type="submit" value="Zapisz" class="btn waves-effect waves-light addButton" name="action" />
            }
        </div>
    </div>

    <button data-target="offerAdd" class="btn modal-trigger offerAdd">Sprzedaj produkt</button>
    <table class="highlight bordered responsive-table centered market">

        <thead>
            <tr>
                <th>Wystwaiający</th>
                <th>Produkt</th>
                <th>Ilość</th>
                <th>Cena/szt.</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.marketList)
            {
                <tr>
                    <td>@item.Login</td>
                    <td>@item.Product_Name</td>
                    <td>@item.Number</td>
                    <td>@item.Price</td>
                    <td id="buyTd">
                        @if (User.Identity.Name != item.Login)
                        {
                            <input type="number" class="numValue" id='numValue_@item.ID' name="numValue" min="0" max="100" value="1">
                            <button type="submit" class="waves-effect waves-light btn buyButton" id="buyButton_@item.Login" onclick="buyoffer(@item.ID, @item.User_ID, @item.Product_ID, @item.Price)">Kup</button>
                        }
                        else
                        {
                            <button type="submit" class="waves-effect waves-light btn buyButton" id="buyButton" onclick="location.href='@Url.Action("DeleteOffer", "Market", new { id = item.ID })'">Anuluj ofertę</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/js/Market.js"></script>
<script>
    $(document).ready(function () {
        $('.offerAdd').leanModal();
    });
</script>
