@model Game.GUI.ViewModels.User.Friend.FriendViewModel
@{
    Layout = null;
}
<div id="FriendInner">
    @foreach (var item in Model.listModel)
    {
        if (item.OrAccepted)
        {
            if (item.User_Login == User.Identity.Name)
            {
                <div class="friend">
                    <span class="login" onclick="location.href='@Url.Action("Profil", "User", new { User = @item.Friend_Login })'">@item.Friend_Login</span>
                    <span class="icon"><i class="fa fa-comments"></i></span>
                </div>
            }
            else
            {
                <div class="friend">
                    <span class="login" onclick="location.href='@Url.Action("Profil", "User", new { User = @item.User_Login })'">@item.User_Login</span>
                    <span class="icon"><i class="fa fa-comments"></i></span>
                </div>
            }
        }
        else
        {
            if (item.User_Login == User.Identity.Name)
            {
                <div class="friend disabled">
                    <span class="login" onclick="location.href='@Url.Action("Profil", "User", new { User = @item.Friend_Login })'">@item.Friend_Login</span>
                </div>
            }
            else
            {
                <div class="friend disabled">
                    <span class="login" onclick="location.href='@Url.Action("Profil", "User", new { User = @item.User_Login })'">@item.User_Login</span>
                    <span class="icon disagree" data-userid="@item.ID" data-userlogin="@item.User_Login" data-friendlogin="@item.Friend_Login"><i class="fa fa-times"></i></span>
                    <span class="icon agree" data-userid="@item.ID" data-userlogin="@item.User_Login" data-friendlogin="@item.Friend_Login"> <i class="fa fa-check"></i></span>
</div>
            }
        }
    }
</div>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/js/jquery.slimscroll.min.js"></script>
<script>
    $('#FriendInner').slimScroll({
        size: '10px',
        height: '350px',
        alwaysVisible: true
    });
</script>
