@model Game.GUI.ViewModels.ListTableViewModel
@{
    Layout = null;
}
<div>
    @foreach (var item in Model.tableList)
    {
        @Html.HiddenFor(m => item.ID);
        @Html.Hidden("accept"+item.ID, item.ID, new { id ="accept"+item.ID, value = item.ID });
        @Html.HiddenFor(m => item.Friend_Login);
        @Html.HiddenFor(m => item.Login);


        if (item.OrAccepted)
        {
            if (item.Login == User.Identity.Name)
            {
                <div class="friend">
                    <span class="login" onclick="location.href='@Url.Action("Profil", "User", new { User = @item.Friend_Login })'">@item.Friend_Login</span>
                    <span class="icon"><i class="fa fa-comments"></i></span>
                </div>
            }
            else
            {
                <div class="friend">
                    <span class="login" onclick="location.href='@Url.Action("Profil", "User", new { User = @item.Login })'">@item.Login</span>
                    <span class="icon"><i class="fa fa-comments"></i></span>
                </div>
            }
        }
        else
        {
            if (item.Login == User.Identity.Name)
            {
                <div class="friend disabled">
                    <span class="login" onclick="location.href='@Url.Action("Profil", "User", new { User = @item.Friend_Login })'">@item.Friend_Login</span>
                </div>
            }
            else
            {
                <div class="friend disabled">
                    <span class="login" onclick="location.href='@Url.Action("Profil", "User", new { User = @item.Login })'">@item.Login</span>
                    <span class="icon disagree" id='dontAcceptFriend'><i class="fa fa-times"></i></span>
                    <span class="icon agree" id='"accetpFriend' onclick="frienndAccept(@item.ID,'@item.Friend_Login', '@item.Login')"> <i class="fa fa-check"></i></span>
                </div>
            }
        }
    }
</div>
