@model Game.GUI.ViewModels.User.LoginViewModel
@{
    ViewBag.Title = "Logowanie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="loginForm">
        <div class="loginTopText">
            <div class="logowanieText">@ViewBag.Title</div>
            <div class="kontoText">
                <a href='@Url.Action("Register", "User")'>Utwórz konto</a>
            </div>
        </div>
        @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <form class="col s12">
                @Html.AntiForgeryToken()

                <div class="input-field col s12">
                    @Html.TextBoxFor(m => m.Login, new { @class = "validate" })
                    <label for="Login">Login</label>
                </div>
                <div class="input-field col s12">
                    @Html.PasswordFor(m => m.Password, new { @class = "validate" })
                    <label for="Password">Password</label>
                </div>


                <div class="loginButton">
                    <div class="logowanieButton">
                        <button type="submit" class="waves-effect waves-light btn-large" >Zaloguj</button>
                    </div>
                    <div class="forgetPassword">
                        <a href='@Url.Action("RecoveryPassword", "User")'>Zapomniałeś hasła?</a>
                    </div>
                </div>
            </form>
        }

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

