@model Game.GUI.ViewModels.User.LoginViewModel
@{
    ViewBag.Title = "Logowanie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle">
        <section class="uk-panel uk-panel-box uk-form loginForm">
            <div class="loginTopText">
                <div class="logowanieText">@ViewBag.Title</div>
                <div class="kontoText"><a href='@Url.Action("Register", "User")'>Utwórz konto</a></div>
            </div>
            @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "uk-form-danger logError" })

                <div class="uk-form-row">

                    @Html.TextBoxFor(m => m.Login, new { @placeholder = "Login", @class = "uk-width-1-1 uk-form-large" })
                    @Html.ValidationMessageFor(m => m.Login, "", new { @class = "uk-form-danger" })
                </div>
                <div class="uk-form-row">

                    @Html.PasswordFor(m => m.Password, new { @placeholder = "Hasło", @class = "form-control uk-width-1-1 uk-form-large" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "uk-form-danger" })
                </div>


                <div class="uk-form-row loginButton">
                    <div class="logowanieButton">
                        <input type="submit" value="Zaloguj" class="uk-button uk-button-primary uk-button-large" id="logButton" />
                    </div>
                    <div class="forgetPassword">
                        <a href='@Url.Action("##", "##")'>Zapomniałeś hasła?</a>
                    </div>
                </div>
            }

        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

