@model Game.GUI.ViewModels.ListTableViewModel
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="profil">
    @if (User.Identity.Name != Model.tableView.Login)
    {
        @Html.Hidden("UserLogin", Model.tableView.Login)
        <h2>@Model.tableView.Login</h2>

        if (Model.tableView.Value == 1)
        {
            <button class="btn-large deleteFriend" data-loginfriend="@Model.tableView.Login">Usuń znajomego</button>
        }
        else if (Model.tableView.Value == 2)
        {
            <button class="btn" disabled>Zaproszenie wysłane</button>
        }
        else if (Model.tableView.Value == 3)
        {
            if (!Model.tableView.IfIgnored)
            {
                <button class="btn-large addFriend">Dodaj znajomego</button>
            }
        }

        if (!Model.tableView.Ignor)
        {
            <button class="btn-large addIgnore" data-ignorlogin="@Model.tableView.Login">Ignoruj</button>
        }
        else
        {
            <button class="btn-large deleteIgnore" data-ignorlogin="@Model.tableView.Login">Przestań ignorować</button>
        }

        <hr />
        <div id="left">
            @if (Model.tableView.RegDays <= 1)
            {
                <span class="info">Gra od <span class="num">dzisiaj.</span></span>
            }
            else
            {
                <span class="info">Gra od <span class="num">@Model.tableView.RegDays</span> dni.</span>
            }
            @if (Model.tableView.LogDays <= 1)
            {
                <span class="info">Ostatnio logował się <span class="num">dzisiaj.</span></span>
            }
            else
            {
                <span class="info">Ostatnio logował się <span class="num">@Model.tableView.LogDays</span> dni temu.</span>
            }
            <span class="info">Posiada <span class="num">@Model.tableView.Number </span>budynków.</span>
        </div>
        if (!Model.tableView.IfIgnored)
        {
            <div id="right">
                <h3>Wyślij wiadmość:</h3>
                @using (Html.BeginForm("SentMessageProfile", "Message", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.HiddenFor(m => m.tableView.Login);
                    @Html.Hidden(User.Identity.Name);
                    <div class="input-field col s12">
                        @Html.TextBoxFor(m => m.tableView.Theme, new { placeholder = "", @class = "validate", length = "150" })
                        <label for="Login">Tytuł:</label>
                    </div>

                    <div class="input-field col s12">
                        @Html.TextAreaFor(m => m.tableView.Content, new { placeholder = "", @class = "materialize-textarea" })
                        <label for="Login">Treść:</label>
                    </div>
                    <button type="submit" class="btn waves-effect waves-light addButton sentMessage" name="action">Wyślij</button>
                }

            </div>
        }
    }
    else
    {
        <h4>Jesteś zalogowany jako</h4> <h2>@Model.tableView.Login</h2>
        <hr />
        <div id="left">
            @if (Model.tableView.RegDays <= 1)
            {
                <span class="info">Grasz od <span class="num">dzisiaj.</span></span>
            }
            else
            {
                <span class="info">Grasz od <span class="num">@Model.tableView.RegDays</span> dni.</span>
            }
            @if (Model.tableView.LogDays <= 1)
            {
                <span class="info">Ostatnio logowałeś się <span class="num">dzisiaj.</span></span>
            }
            else
            {
                <span class="info">Ostatnio logowałeś się <span class="num">@Model.tableView.LogDays</span> dni temu.</span>
            }
            <span class="info">Posiadasz <span class="num">@Model.tableView.Number </span>budynków.</span>
        </div>
        <div id="right">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="fa fa-unlock-alt"></i>Zmień hasło</div>
                    <div class="collapsible-body">
                        @using (Html.BeginForm("ChangePass", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <form class="col s12">
                                <div class="input-field col s12">
                                    @Html.PasswordFor(m => m.tableView.OldPassword, new { @class = "validate" })
                                    <label for="OldPassword">Stare hasło</label>
                                </div>

                                <div class="input-field col s12">
                                    @Html.PasswordFor(m => m.tableView.Password, new { @class = "validate" })
                                    <label for="Password">Nowe hasło</label>
                                </div>

                                <div class="input-field col s12">
                                    @Html.PasswordFor(m => m.tableView.ComparePassword, new { @class = "validate" })
                                    <label for="ComparePassword">Powtórz hasło</label>
                                </div>

                                <div class="Button">
                                    <button type="submit" class="waves-effect waves-light btn changePassword">Zapisz</button>
                                </div>
                            </form>
                        }
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-at"></i>Zmień adres e-mail</div>
                    <div class="collapsible-body">
                        @using (Html.BeginForm("ChangeEmail", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <form class="col s12">
                                <div class="input-field col s12">
                                    @Html.TextBoxFor(m => m.tableView.Email, new { @type = "email", @class = "validate" })
                                    <label for="Email" data-error="To nie jest email.">Email</label>

                                </div>
                                <div class="Button">
                                    <button type="submit" class="waves-effect waves-light btn">Zapisz</button>
                                </div>
                            </form>
                        }
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-user"></i>Znajomi</div>
                    <div class="collapsible-body">
                        <div id="friendDiv">
                            @foreach (var item in Model.tableList)
                            {
                                if (item.Friend_Login != null)
                                {
                                    <div class="ignoredDiv">@item.Friend_Login <span class="deleteFriend" data-loginfriend="@item.Friend_Login"><i class="fa fa-times"></i></span></div>
                                }
                            }
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-ban"></i>Ignorowani</div>
                    <div class="collapsible-body">
                        <div id="ignoreDiv">
                            @foreach (var item in Model.tableList)
                            {
                                if (item.Login != null)
                                {
                                    <div class="ignoredDiv">@item.Login <span class="deleteIgnore" data-ignorlogin="@item.Login"><i class="fa fa-times"></i></span></div>
                                }
                            }
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    }
</div>


<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="~/Scripts/js/jquery.slimscroll.min.js"></script>
<script src="/signalr/hubs"></script>
<script>

    $('#friendDiv').slimScroll({
        color: '#000',
        size: '10px',
        height: '200px',
        alwaysVisible: false
    });

    $('#ignoreDiv').slimScroll({
        color: '#000',
        size: '10px',
        height: '200px',
        alwaysVisible: false
    });


    $(document).ready(function () {

        $('.sentMessage').attr("disabled", true);
        $('.changePassword').attr("disabled", true);

        $("#right").keyup(function () {
            if ($("#tableView_Theme").val() != ""
                && $("#tableView_Content").val() != "") {
                $('.sentMessage').attr("disabled", false);
            }
            else {
                $('.sentMessage').attr("disabled", true);
            }

            if ($("#tableView_OldPassword").val() != ""
                && $("#tableView_Password").val() != ""
                && $("#tableView_ComparePassword").val() != "") {
                $('.changePassword').attr("disabled", false);
            }
            else {
                $('.changePassword').attr("disabled", true);
            }
        })
    });

    $(document).ready(function () {
        $('.collapsible').collapsible({
            accordion: true
        });
    });

    $(".deleteFriend").click(function () {
        var login = $(this).data('loginfriend');

        console.log(login);
        $.ajax({
            type: "POST",
            url: 'DeleteFriend',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ loginfriend: login }),
            success: function (data) {
                console.log("Succces");
                location.reload();
            }
        });
    });

    $(".addIgnore").click(function () {

        var ignorlogin = $(this).data('ignorlogin');
        $.ajax({
            type: "POST",
            url: 'AddIgnore',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ ignorlogin: ignorlogin }),
            success: function (data) {
                location.reload();
            }
        });
    });


    $(".deleteIgnore").click(function () {

        var ignorlogin = $(this).data('ignorlogin');
        $.ajax({
            type: "POST",
            url: 'DeleteIgnore',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ ignorlogin: ignorlogin }),
            success: function (data) {
                location.reload();
            }
        });
    });
</script>