@model Game.GUI.ViewModels.User.RegisterViewModel
@{
    ViewBag.Title = "Rejestracja -";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="registerForm">
        <div class="regTopText">
            <div class="registerText">@ViewBag.Title</div>
        </div>
        @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <form class="col s12">
                @Html.AntiForgeryToken()

                <div class="input-field col s12">
                    @Html.TextBoxFor(m => m.Login, new { @class = "validate" })
                    <label for="Login">Login</label>

                </div>
                <div class="input-field col s12">
                    @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "validate" })
                    <label for="Email" data-error="To nie jest email.">Email</label>

                </div>
                <div class="input-field col s12">
                    @Html.PasswordFor(m => m.Password, new { @class = "validate" })
                    <label for="Password">Hasło (min. 5 znaków)</label>

                </div>
                <div class="input-field col s12">
                    @Html.PasswordFor(m => m.comparePassword, new { @class = "validate" })
                    <label for="comparePassword">Powtórz hasło</label>

                </div>

                <div class="registerButton">
                    <button type="submit" class="btn btn-large" >Zarejestruj</button>
                </div>
            </form>
        }
    </div>
</div>
