@model Game.GUI.ViewModels.User.RegisterViewModel
@{
    ViewBag.Title = "Rejestracja";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle">
        <section class="uk-panel uk-panel-box uk-form registerForm">
            <div class="regTopText">
                <div class="registerText">@ViewBag.Title</div>
            </div>
            @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "uk-form-danger logError" })

                <div class="uk-form-row">
                    @Html.TextBoxFor(m => m.Login, new { @placeholder = "Login", @class = "uk-width-1-1 uk-form-large" })
                    @Html.ValidationMessageFor(m => m.Login, "", new { @class = "uk-form-danger" })
                </div>
                <div class="uk-form-row">
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "E-mail", @class = "form-control uk-width-1-1 uk-form-large" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "uk-form-danger" })
                </div>
                <div class="uk-form-row">
                    @Html.PasswordFor(m => m.Password, new { @placeholder = "Hasło", @class = "form-control uk-width-1-1 uk-form-large" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "uk-form-danger" })
                </div>
                <div class="uk-form-row">
                    @Html.PasswordFor(m => m.comparePassword, new { @placeholder = "Powtórz hasło", @class = "form-control uk-width-1-1 uk-form-large" })
                    @Html.ValidationMessageFor(m => m.comparePassword, "", new { @class = "uk-form-danger" })
                </div>

                <div class="uk-form-row regButton">
                    <div class="registerButton">
                        <input type="submit" value="Zarejestruj" class="uk-button uk-button-primary uk-button-large" id="logButton" />
                    </div>
                </div>
            }

        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
