<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Styles")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="uk-height-1-1">
    <div class="uk-navbar">
        <ul class="uk-navbar-nav">

            <li><a href='@Url.Action("Index", "Home")'><i class="uk-icon-home uk-icon-medium"></i></a></li>

            @if (!User.Identity.IsAuthenticated)
            {
                <li><a href='@Url.Action("Register", "User")'>Rejestracja</a></li>

                <li><a href='@Url.Action("##", "##")'>Jak grać</a></li>

                <li><a href='@Url.Action("##", "##")'>Support</a></li>

                <li><a href='@Url.Action("Login", "User")'>Zaloguj</a></li>
            }
            else
            {

                <li><a href='@Url.Action("##", "##")'>Wiadomości</a></li>

                <li><a href='@Url.Action("##", "##")'>Kontakty</a></li>

                <li><a href='@Url.Action("##", "##")'>Moje konto</a></li>

                <li><a href='@Url.Action("##", "##")'>Kasyno</a></li>

                <li><a href='@Url.Action("Logout", "User")'>Wyloguj</a></li>

                <li><a href='@Url.Action("##", "##")'><i class="uk-icon-envelope uk-icon-medium"></i></a></li>

                <li><a href='@Url.Action("##", "##")'><i class="uk-icon-cog uk-icon-medium"></i></a></li>
            }
        </ul>
            </div>
    <div class=".uk-container-center">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/uikit")
    @if (User.Identity.IsAuthenticated)
    {
        @Scripts.Render("~/Scripts/js")
    }
    @RenderSection("scripts", required: false)
</body>
</html>
