<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <title>@ViewBag.Title - Pierwszy Milion</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="validationDiv">
        @Html.Action("_Validation", "Validation")
    </div>
    <nav>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="userDolar">
                @User.Identity.Name <i class="fa fa-usd"></i> <span id="currDolars">@{Html.RenderAction("dolar", "Dolar");}</span> 
            </div>

            <div class="nav-wrapper">
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars"></i>Menu</a>
                <ul class="hide-on-med-and-down">
                    <li><a href='@Url.Action("Index", "Home")'><i class="fa fa-home"></i></a></li>

                    <li><a href='@Url.Action("Index", "Office")'><i class="fa fa-building"></i> Biuro</a></li>

                    <li><a href='@Url.Action("Index", "Message")' id="message"><i class="fa fa-envelope"></i> Wiadomości</a></li>

                    <li><a href='@Url.Action("Index", "Market")'><i class="fa fa-shopping-cart"></i> Market</a></li>

                    <li><a href='@Url.Action("Index", "Casino")'><i class="fa fa-usd"></i> Kasyno</a></li>

                    <li><a href='@Url.Action("Index", "Ranking")'><img src="~/Content/Images/trophy42.png" /> Ranking</a></li>

                    <li><a href='@Url.Action("Profil", "User", new {User= User.Identity.Name})'><i class="fa fa-cog"></i> Ustawienia</a></li>


                </ul>

                <ul class="side-nav" id="mobile-demo">
                    <li class="dolarMenu">@User.Identity.Name <i class="fa fa-usd"></i>  @{Html.RenderAction("dolar", "Dolar");}</li>
                    <li><a href='@Url.Action("Index", "Home")'><i class="fa fa-home"></i>Home</a></li>

                    <li><a href='@Url.Action("Index", "Office")'><i class="fa fa-building"></i> Biuro</a></li>

                    <li><a href='@Url.Action("Index", "Message")' id="message"><i class="fa fa-envelope"></i> Wiadomości</a></li>

                    <li><a href='@Url.Action("Index", "Market")'><i class="fa fa-shopping-cart"></i> Market</a></li>

                    <li><a href='@Url.Action("Index", "Casino")'><i class="fa fa-usd"></i> Kasyno</a></li>

                    <li><a href='@Url.Action("Index", "Ranking")'><img src="~/Content/Images/trophy42.png" /> Ranking</a></li>

                    <li><a href='@Url.Action("Profil", "User", new {User= User.Identity.Name})'><i class="fa fa-cog"></i> Ustawienia</a></li>

                    <li><a href='@Url.Action("Logout","User")'><i class="fa fa-sign-out"></i>Wyloguj</a></li>
                </ul>

            </div>
            <button class="btn right userLogout" id="userLogout" onclick="location.href='@Url.Action("Logout", "User")'"><i class="fa fa-sign-out"></i> Wyloguj</button>
                        }


    </nav>

    <div class="container">
        @if (User.Identity.IsAuthenticated)
        {
            Html.RenderAction("_UserProduct", "Office");
        }
        @RenderBody()

    </div>

    <footer class="center">
        <p>
            <a href='@Url.Action("Index", "Home")'><i class="fa fa-home"></i></a>
            <a href='@Url.Action("Help", "Support")'><i class="fa fa-question-circle"></i> Support</a>
            &copy; <i>Pierwszy Milion</i> - Wszelkie prawa zastrzeżone.
            @if (User.Identity.IsAuthenticated)
            {
                <a href='@Url.Action("Admin", "Admin")'><i class="fa fa-lock"></i></a>
            }

        </p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/signalr/hubs"></script>
    @if (User.Identity.IsAuthenticated)
            {
        @Scripts.Render("~/Scripts/js")
    }
    <script src="~/Scripts/js/newNotification.js"></script>

    @RenderSection("scripts", required: false)

    <script>
        $(".button-collapse").sideNav();
        $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrain_width: false, // Does not change width of dropdown to that of the activator
            hover: false, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: false, // Displays dropdown below the button
            alignment: 'left' // Displays dropdown with edge aligned to the left of button
        }
 );
    </script>
</body>
</html>
