@model Game.GUI.ViewModels.ListTableViewModel
@{
    Layout = null;
}

<div id="adminAdd" class="modal">
    <div class="modal-content">
            @using (Html.BeginForm("Add", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.Label("ID użytkownika: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.tableView.User_ID, new { @class = "uk-width-1-1 uk-form-large" })

                <input type="submit" class="uk-button-large" value="Submit" />
            }
    </div>
</div>

<div class="tableList">
    <h4>Admini</h4><br />
    <a class="waves-effect waves-light btn modal-trigger" href="#adminAdd">Dodaj admina</a>
    <table class="highlight bordered responsive-table centered">
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="login">Login</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tableList)
            {
                <tr>

                    <td>@item.ID</td>
                    <td>@item.Login</td>
                    <td>
                        <div class="fixed-action-btn horizontal" style="position: relative; top: 5px; float: right">
                            <button class="btn-floating btn-large red">
                                <i class="fa fa-align-justify #00695c teal darken-5"></i>
                            </button>
                            <ul>
                                <li><button class="btn-floating #00695c teal darken-3"><i class="fa fa-pencil"></i></button></li>
                                <li><button class="btn-floating #00695c teal darken-3" onclick="location.href='@Url.Action("Delete", "Admin", new { id = item.ID })'"><i class="fa fa-trash-o"></i></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').leanModal();
});</script>