@model Game.GUI.ViewModels.User.Admin.AdminViewModel
@{
    Layout = null;
}

<div id="adminAdd" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("AddAdmin", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <div class="input-field col s12">
                @Html.DropDownListFor(m => m.viewModel.User_Login, new SelectList(Model.allUser), new { @class = "validate" })
                <label for="User_Login">Login</label>
            </div>
            <input type="submit" value="Zapisz" class="btn addButton" name="action" />
        }
    </div>
</div>

<div id="adminUpdate" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("UpdateAdmin", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.HiddenFor(m => m.viewModel.ID, new { placeholder = "", @class = "validate inputID" })
            <div class="input-field col s12">
                @Html.DropDownListFor(m => m.viewModel.User_Login, new SelectList(Model.allUser), new { @class = "validate inputLoginDrop" })
                <label for="Login">Login</label>
            </div>
            <input type="submit" value="Zapisz" class="btn addButton" name="action" />
        }
    </div>
</div>

<div class="tableList" id="adminsAdmin">
    <h4>Admini</h4> <input type="text" id="adminSearch" class="searchAdmin" placeholder="Szukaj..." /><br />
    <button data-target="adminAdd" class="btn modal-trigger adminAdd">Dodaj admina</button>
    <table class="highlight bordered responsive-table centered">
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="login">Login</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listModel)
            {
                <tr>

                    <td>@item.ID</td>
                    <td class="search">@item.User_Login</td>
                    <td>
                        <div class="fixed-action-btn horizontal" style="position: relative; top: 5px; float: right">
                            <button class="btn btn-floating">
                                <i class="fa fa-align-justify #00695c darken-5 teal"></i>
                            </button>
                            <ul>
                                <li><button data-target="adminUpdate" class="btn btn-floating #00695c teal darken-3 modal-trigger adminUpdate" onclick="updaterow(['inputID','inputLoginDrop'], ['@item.ID','@item.User_Login'])"><i class="fa fa-pencil"></i></button></li>
                                <li><button class="btn btn-floating #00695c teal darken-3" onclick="if(confirm('Na pewno?')==true) { location.href='@Url.Action("DeleteAdmin", "Admin", new { id = item.ID })'}"><i class="fa fa-trash-o"></i></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/js/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/js/UpdateRow.js"></script>
<script>
    $('#adminsAdmin').slimScroll({
        size: '10px',
        height: '600px',
        alwaysVisible: true
    });

    $(document).ready(function () {
        $('.adminAdd').leanModal();
        $('.adminUpdate').leanModal();
    });
</script>
