@model Game.GUI.ViewModels.ListTableViewModel
@{
    Layout = null;
}

<div id="banAdd" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("Add", "Ban", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.Login, new { placeholder = "", @class = "validate" })
                <label for="Login">Login</label>
            </div>
            
            <div class="input-field col s12">
                @Html.TextAreaFor(m => m.tableView.Description, new { placeholder = "", @class = "materialize-textarea" })
                <label for="Description">Opis</label>
            </div>
            
            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.Finish_Date, new { placeholder = "", @type = "date", @class = "validate datepicker" })
                <label for="Finish_Date">Data końca</label>
            </div>

            <input type="submit" value="Zapisz" class="btn waves-effect waves-light addButton" name="action" />

        }
    </div>
</div>


<div class="tableList">
    <h4>Bany</h4><br />
    <button data-target="banAdd" class="btn modal-trigger banAdd">Zbanuj</button>

    <table class="highlight bordered responsive-table centered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Opis</th>
                <th>Początek</th>
                <th>Koniec</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tableList)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Login</td>
                    <td>@item.Description</td>
                    <td>@item.Start_Date</td>
                    <td>@item.Finish_Date</td>
                    <td>
                        <div class="fixed-action-btn horizontal" style="position: relative; top: 5px; float: right">
                            <button class="btn-floating btn-large red">
                                <i class="fa fa-align-justify #00695c teal darken-5"></i>
                            </button>
                            <ul>
                                <li><button class="btn-floating #00695c teal darken-3"><i class="fa fa-pencil"></i></button></li>
                                <li><button class="btn-floating #00695c teal darken-3" onclick="location.href='@Url.Action("Delete", "Ban", new { id = item.ID })'"><i class="fa fa-trash-o"></i></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script src="~/Scripts/jquery-2.1.4.min.js"></script>

<script>
    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.banAdd').leanModal();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
    });</script>
