@model Game.GUI.ViewModels.ListTableViewModel
@{
    Layout = null;
}

<div id="banAdd" class="modal">
    <div class="modal-content">
        <a class="uk-modal-close uk-close"></a>
            @using (Html.BeginForm("Add", "Ban", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.Label("ID użytkownika: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.tableView.User_ID, new { @class = "uk-width-1-1 uk-form-large" })

                @Html.Label("Opis: ", new { @class = "uk-form-label" })
                @Html.TextAreaFor(m => m.tableView.Description, new { @class = "uk-width-1-1 uk-form-large" })
                <input type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                <input type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                <input type="submit" value="Submit" class="uk-button-large" />
            }
    </div>
</div>


<div class="tableList">
    <h4>Admini</h4><br />
    <button data-target="banAdd" class="btn modal-trigger" href="#banAdd">Zbanuj</button>
    <table class="highlight bordered responsive-table centered">
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="user_id">Login</th>
                <th data-field="opis">Opis</th>
                <th data-field="poczatek">Początek</th>
                <th data-field="koniec">Koniec</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tableList)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Login</td>
                    <td>@item.Description</td>
                    <td>@item.Start_Date</td>
                    <td>@item.Finish_Date</td>
                    <td>
                        <div class="fixed-action-btn horizontal" style="position: relative; top: 5px; float: right">
                            <button class="btn-floating btn-large red">
                                <i class="fa fa-align-justify #00695c teal darken-5"></i>
                            </button>
                            <ul>
                                <li><button class="btn-floating #00695c teal darken-3"><i class="fa fa-pencil"></i></button></li>
                                <li><button class="btn-floating #00695c teal darken-3" onclick="location.href='@Url.Action("Delete", "Ban", new { id = item.ID })'"><i class="fa fa-trash-o"></i></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

