@model Game.GUI.ViewModels.Building.BuildingViewModel
@{
    Layout = null;
}

<div id="buildingAdd" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("AddBuilding", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.BuildingName, new { placeholder = "", @class = "validate" })
                <label for="Name">Nazwa</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Price, new { placeholder = "", @class = "validate" })
                <label for="Price">Cena</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Percent_price_per_lvl, new { placeholder = "", @class = "validate" })
                <label for="Percent_price_per_lvl">% ceny za lvl</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Width, new { placeholder = "", @class = "validate" })
                <label for="Width">Szerokość</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Height, new { placeholder = "", @class = "validate" })
                <label for="Height">Wysokość</label>
            </div>
            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Product_per_sec, new { placeholder = "", @class = "validate" })
                <label for="Product_per_sec">Produkcja na sekundę</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.DestPrice, new { placeholder = "", @class = "validate" })
                <label for="Dest_price">Koszt wyburzenia</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Percent_product_per_lvl, new { placeholder = "", @class = "validate" })
                <label for="Percent_product_per_lvl">% proukcji za lvl</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Product_Name, new { placeholder = "", @class = "validate" })
                <label for="Nazwa produktu">Nazwa produktu</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Alias, new { placeholder = "", @class = "validate" })
                <label for="Alias">Alias</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.BuildingTime, new { placeholder = "", @class = "validate" })
                <label for="BuildingTime">Czas budowy [s]</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.DestructionTime, new { placeholder = "", @class = "validate" })
                <label for="DestructionTime">Czas burzenia [s]</label>
            </div>

            <input type="submit" value="Zapisz" class="btn addButton" name="action" />

        }
    </div>
</div>

<div id="buildingUpdate" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("UpdateBuilding", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.HiddenFor(m => m.viewModel.ID, new { placeholder = "", @class = "validate inputID" })

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.BuildingName, new { placeholder = "", @class = "validate inputName" })
                <label for="Name">Nazwa</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Price, new { placeholder = "", @class = "validate inputPrice" })
                <label for="Price">Cena</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Percent_price_per_lvl, new { placeholder = "", @class = "validate inputPercent_price_per_lvl" })
                <label for="Percent_price_per_lvl">% ceny za lvl</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Width, new { placeholder = "", @class = "validate inputWidth" })
                <label for="Width">Szerokość</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Height, new { placeholder = "", @class = "validate inputHeight" })
                <label for="Height">Wysokość</label>
            </div>
            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Product_per_sec, new { placeholder = "", @class = "validate inputProduct_per_sec" })
                <label for="Product_per_sec">Produkcja na sekundę</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.DestPrice, new { placeholder = "", @class = "validate inputDestPrice" })
                <label for="Dest_price">Koszt wyburzenia</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Percent_product_per_lvl, new { placeholder = "", @class = "validate inputPercent_product_per_lvl" })
                <label for="Percent_product_per_lvl">% proukcji za lvl</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Product_Name, new { placeholder = "", @class = "validate inputProductName" })
                <label for="Nazwa produktu">Nazwa produktu</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Alias, new { placeholder = "", @class = "validate inputAlias" })
                <label for="Alias">Alias</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.BuildingTime, new { placeholder = "", @class = "validate inputBuildingTime" })
                <label for="BuildingTime">Czas budowy [s]</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.DestructionTime, new { placeholder = "", @class = "validate inputDesctructionTime" })
                <label for="DestructionTime">Czas burzenia [s]</label>
            </div>

            <input type="submit" value="Zapisz" class="btn addButton" name="action" />

        }
    </div>
</div>



<div class="tableList" id="buildingsAdmin">
    <h4>Budynki</h4><input type="text" id="buildingSearch" class="searchAdmin" placeholder="Szukaj..." /><br />
    <button data-target="buildingAdd" class="btn modal-trigger buildingAdd">Dodaj budynek</button>

    <table class="highlight bordered responsive-table centered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Cena</th>
                <th>Cena za level</th>
                <th>Szerokość</th>
                <th>Wysokość</th>
                <th>Produkcja/s</th>
                <th>Cena wyburzenia</th>
                <th>Produkcja co level</th>
                <th>Produkt</th>
                <th>Alias</th>
                <th>Czas budowy/s</th>
                <th>Czas wyburzenia/s</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listModel)
            {
                <tr>
                    <td>@item.ID</td>
                    <td class="search">@item.BuildingName</td>
                    <td>@item.Price</td>
                    <td>@item.Percent_price_per_lvl</td>
                    <td>@item.Width</td>
                    <td>@item.Height</td>
                    <td>@item.Product_per_sec</td>
                    <td>@item.DestPrice</td>
                    <td>@item.Percent_product_per_lvl</td>
                    <td>@item.Product_Name</td>
                    <td>@item.Alias</td>
                    <td>@item.BuildingTime</td>
                    <td>@item.DestructionTime</td>
                    <td>
                        <div class="fixed-action-btn horizontal" style="position: relative; top: 5px; float: right">
                            <button class="btn-floating btn-large red">
                                <i class="fa fa-align-justify #00695c teal darken-5"></i>
                            </button>
                            <ul>
                                <li>
                                    <button data-target="buildingUpdate" class="btn-floating #00695c teal darken-3 modal-trigger buildingUpdate"
                                            onclick="updaterow(['inputID','inputName','inputPrice','inputPercent_price_per_lvl',
                                            'inputWidth','inputHeight','inputProduct_per_sec','inputDestPrice','inputPercent_product_per_lvl',
                                            'inputProductName','inputAlias','inputBuildingTime','inputDesctructionTime'],
                                            ['@item.ID','@item.BuildingName','@item.Price','@item.Percent_price_per_lvl','@item.Width','@item.Height',
                                            '@item.Product_per_sec','@item.DestPrice','@item.Percent_product_per_lvl','@item.Product_Name','@item.Alias',
                                            '@item.BuildingTime','@item.DestructionTime'])">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </li>
                                <li><button class="btn-floating #00695c teal darken-3" onclick="location.href='@Url.Action("DeleteBuilding", "Admin", new { id = item.ID })'"><i class="fa fa-trash-o"></i></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/js/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/js/UpdateRow.js"></script>
<script>
    $('#buildingsAdmin').slimScroll({
        size: '10px',
        height: '600px',
        alwaysVisible: true
    });
    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.buildingAdd').leanModal();
        $('.buildingUpdate').leanModal();
    });
</script>
