@model Game.GUI.ViewModels.ListTableViewModel
@{
    Layout = null;
}

<div id="queueAdd" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("Add", "BuildingQueue", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.Login, new { placeholder = "", @class = "validate" })
                <label for="Login">Login</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.UserBuilding_ID, new { placeholder = "", @class = "validate" })
                <label for="UserBuilding_ID">ID budynku użytkownika</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.Value, new { placeholder = "", @class = "validate" })
                <label for="Value">Czas budowy</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.NewStatus, new { placeholder = "", @class = "validate" })
                <label for="NewStatus">Nowy status</label>
            </div>
            <input type="submit" value="Zapisz" class="btn waves-effect waves-light addButton" name="action" />
        }
    </div>
</div>

<div id="queueUpdate" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("Update", "BuildingQueue", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.ID, new { @placeholder = "", @class = "validate inputID" })
                <label for="ID">ID</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.Login, new { @placeholder = "", @class = "validate inputLogin" })
                <label for="Login">Login</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.UserBuilding_ID, new { @placeholder = "", @class = "validate inputUserBuilding_ID" })
                <label for="UserBuilding_ID">ID budynku użytkownika</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.Value, new { placeholder = "", @class = "validate inputValue" })
                <label for="Value">Czas budowy</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.NewStatus, new { placeholder = "", @class = "validate inputNewStatus" })
                <label for="NewStatus">Nowy status</label>
            </div>
            <input type="submit" value="Zapisz" class="btn waves-effect waves-light addButton" name="action" />
        }
    </div>
</div>

<div class="tableList">
    <h4>Kolejka budowania</h4><br />
    <button data-target="queueAdd" class="btn modal-trigger queueAdd">Dodaj budynek</button>
    <table class="highlight bordered responsive-table centered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>ID budynku użytkownika</th>
                <th>Budynek</th>
                <th>Czas końca budowy</th>
                <th>Nowy status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tableList)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Login</td>
                    <td>@item.UserBuilding_ID</td>
                    <td>@item.Name</td>
                    <td>@item.Finish_Date</td>
                    <td>@item.NewStatus</td>
                    <td>
                        <div class="fixed-action-btn horizontal" style="position: relative; top: 5px; float: right">
                            <button class="btn-floating btn-large red">
                                <i class="fa fa-align-justify #00695c teal darken-5"></i>
                            </button>
                            <ul>
                                <li><button data-target="queueAdd" class="btn-floating #00695c teal darken-3 modal-trigger queueAdd" onclick="updaterow(['inputID','inputLogin','inputUserBuilding_ID','inputValue','inputNewStatus'], ['@item.ID','@item.Login','@item.UserBuilding_ID','@item.Value','@item.NewStatus'])"><i class="fa fa-pencil"></i></button></li>
                                <li><button class="btn-floating #00695c teal darken-3" onclick="location.href='@Url.Action("Delete", "BuildingQueue", new { id = item.ID })'"><i class="fa fa-trash-o"></i></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.queueAdd').leanModal();
        $('.queueUpdate').leanModal();
});</script>
