@model Game.GUI.ViewModels.ListTableViewModel
@{
    Layout = null;
}

<div id="queueAdd" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <section class="uk-panel uk-panel-box uk-form">
            @using (Html.BeginForm("Add", "Building", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.Label("ID użytkownika: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.tableView.User_ID, new {@class = "uk-width-1-1 uk-form-large" })
                @Html.Label("ID budynku: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.tableView.UserBuilding_ID, new { @class = "uk-width-1-1 uk-form-large" })
                @Html.Label("Data końca", new { @class = "uk-form-label" })
                <input type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}" />
                @Html.Label("Nowy status: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.tableView.NewStatus, new { @class = "uk-width-1-1 uk-form-large" })

                <input type="submit" value="Zapisz" class="uk-button-large"/>
            }
        </section>
    </div>
</div>

<div id="tableList">
    <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
        <caption>Kolejka budowania <button class="uk-button" data-uk-modal="{target:'#queueAdd'}">Dodaj nowy</button></caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>ID użytkownika</th>
                <th>ID budynku użytkownika</th>
                <th>Czas końca budowy</th>
                <th>Nowy status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tableList)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.User_ID</td>
                    <td>@item.UserBuilding_ID</td>
                    <td>@item.Finish_Date</td>
                    <td>@item.NewStatus</td>
                    <td class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                        <button class="uk-button" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false">
                            Menu <span class="caret"></span>
                        </button>
                        <div class="uk-dropdown uk-dropdown-small">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li><div class="button btn-build buildButton" onclick="update(@item.ID)">Edytuj</div></li>
                                <li><div class="button btn-build buildButton" onclick="location.href='@Url.Action("Delete","BuildingQueue", new { id = item.ID })'">Usuń</div></li>

                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript" src="~/Scripts/js/uikit.js"></script>
