@model Game.GUI.ViewModels.Dolar.DolarViewModel
@{
    Layout = null;
}

<div id="dolarAdd" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("AddDolar", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <div class="input-field col s12">
                @Html.DropDownListFor(m => m.viewModel.User_Login, new SelectList(Model.allUser), new { @class = "validate" })
                <label for="User_Login">Login</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.DolarValue, new { placeholder = "",@type="number", @min="0", @class = "validate" })
                <label for="Value">Wartość</label>
            </div>

            <input type="submit" value="Zapisz" class="btn addButton" name="action" />
        }
    </div>
</div>

<div id="dolarUpdate" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("UpdateDolar", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.HiddenFor(m => m.viewModel.ID, new { placeholder = "", @class = "validate inputID" })

            <div class="input-field col s12">
                @Html.DropDownListFor(m => m.viewModel.User_Login, new SelectList(Model.allUser), new { @class = "validate inputLoginDrop" })
                <label for="Login">Login</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.DolarValue, new { placeholder = "", @type = "number", @min = "0", @class = "validate inputValue" })
                <label for="Value">Wartość</label>
            </div>

            <input type="submit" value="Zapisz" class="btn addButton" name="action" />
        }
    </div>
</div>

<div class="tableList" id="dolarsAdmin">
    <h4>Monety</h4><input type="text" id="dolarSearch" class="searchAdmin" placeholder="Szukaj..." /><br />
    <button data-target="dolarAdd" class="btn modal-trigger" href="#dolarAdd">Dodaj monety</button>
    <table class="highlight bordered responsive-table centered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Wartość</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listModel)
            {
                <tr>
                    <td>@item.ID</td>
                    <td class="search">@item.User_Login</td>
                    <td>@item.DolarValue</td>
                    <td>
                        <div class="fixed-action-btn horizontal" style="position: relative; top: 5px; float: right">
                            <button class="btn btn-floating">
                                <i class="fa fa-align-justify #00695c teal darken-5"></i>
                            </button>
                            <ul>
                                <li><button data-target="dolarUpdate" class="btn btn-floating #00695c teal darken-3 modal-trigger dolarUpdate" onclick="updaterow(['inputID','inputLoginDrop','inputValue'], ['@item.ID','@item.User_Login','@item.DolarValue'])"><i class="fa fa-pencil"></i></button></li>
                                <li><button class="btn btn-floating #00695c teal darken-3" onclick="location.href='@Url.Action("DeleteDolar", "Admin", new { id = item.ID })'"><i class="fa fa-trash-o"></i></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/js/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/js/UpdateRow.js"></script>
<script>
    $('#dolarsAdmin').slimScroll({
        size: '10px',
        height: '600px',
        alwaysVisible: true
    });
    $(document).ready(function () {
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.dolarAdd').leanModal();
        $('.dolarUpdate').leanModal();
});</script>
