@model Game.GUI.ViewModels.User.Friend.FriendViewModel
@{
    Layout = null;
}

<div id="friendAdminAdd" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("AddFriend", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <div class="input-field col s12">
                @Html.DropDownListFor(m => m.viewModel.User_Login, new SelectList(Model.allUser), new { @class = "validate" })
                <label for="User_Login">Login</label>
            </div>
            <div class="input-field col s12">
                @Html.DropDownListFor(m => m.viewModel.Friend_Login, new SelectList(Model.allUser), new { @class = "validate" })
                <label for="User_Login">Login</label>
            </div>
            <div class="input-field col s12">
                @Html.DropDownListFor(m => m.viewModel.OrAccepted, new SelectList(new List<bool>(new bool[] { true, false })), new { @class = "validate" })
                <label for="IsActive">Aktywna</label>
            </div>

            <input type="submit" value="Zapisz" class="btn addButton" name="action" />
        }
    </div>
</div>

<div id="friendAdminUpdate" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("UpdateFriend", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.HiddenFor(m => m.viewModel.ID, new { placeholder = "", @class = "validate inputID" })
        <div class="input-field col s12">
            @Html.TextBoxFor(m => m.viewModel.User_ID, new { @placeholder = "", @class = "validate inputUserID" })
            <label for="User_ID">ID usera</label>
        </div>
        <div class="input-field col s12">
            @Html.TextBoxFor(m => m.viewModel.Friend_ID, new { @placeholder = "", @class = "validate inputFriendID" })
            <label for="Friend_ID">ID znajomego</label>
        </div>
        <div class="input-field col s12">
            @Html.TextBoxFor(m => m.viewModel.OrAccepted, new { @placeholder = "", @class = "validate inputOrAccepted" })
            <label for="OrAccepted">Czy zaakceptowane</label>
        </div>
        <input type="submit" value="Zapisz" class="btn addButton" name="action" />
        }
    </div>
</div>

<div class="tableList" id="friendsAdmin">
    <h4>Znajomi</h4> <input type="text" id="adminSearch" class="searchAdmin" placeholder="Szukaj..." /><br />
    <button data-target="friendAdminAdd" class="btn modal-trigger friendAdminAdd">Dodaj znajomego</button>
    <table class="highlight bordered responsive-table centered">
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="login">Login użytkownika</th>
                <th data-field="friendLogin">Login znajomego</th>
                <th data-field="orAccepted">Czy zaakceptowane</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listModel)
            {
                <tr>

                    <td>@item.ID</td>
                    <td class="search">@item.User_Login</td>
                    <td class="search">@item.Friend_Login</td>
                    <td class="search">@item.OrAccepted</td>
                    <td>
                        <div class="fixed-action-btn horizontal" style="position: relative; top: 5px; float: right">
                            <button class="btn btn-floating btn-large">
                                <i class="fa fa-align-justify #00695c teal darken-5"></i>
                            </button>
                            <ul>
                                <li><button data-target="friendAdminUpdate" class="btn btn-floating #00695c teal darken-3 modal-trigger friendAdminUpdate" onclick="updaterow(['inputID','inputUserID','inputFriendID','inputOrAccepted'], ['@item.ID','@item.User_ID','@item.Friend_ID','@item.OrAccepted'])"><i class="fa fa-pencil"></i></button></li>
                                <li><button class="btn btn-floating #00695c teal darken-3" onclick="location.href='@Url.Action("DeleteFriendAdmin", "Admin", new { id = item.ID })'"><i class="fa fa-trash-o"></i></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/js/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/js/UpdateRow.js"></script>
<script>

    $('#friendsAdmin').slimScroll({
        size: '10px',
        height: '600px',
        alwaysVisible: true
    });

    $(document).ready(function () {
        $('.friendAdminAdd').leanModal();
        $('.friendAdminUpdate').leanModal();
    });
</script>
