@model Game.GUI.ViewModels.User.Ignored.IgnoredViewModel
@{
    Layout = null;
}

<div id="ignoredAdminAdd" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("AddIgnored", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <div class="input-field col s12">
                @Html.DropDownListFor(m => m.viewModel.User_Login, new SelectList(Model.allUser), new { @class = "validate" })
                <label for="User_Login">Login</label>
            </div>
            <div class="input-field col s12">
                @Html.DropDownListFor(m => m.viewModel.Ignored_Login, new SelectList(Model.allUser), new { @class = "validate" })
                <label for="User_Login">Login</label>
            </div>

            <input type="submit" value="Zapisz" class="btn addButton" name="action" />
        }
    </div>
</div>

<div id="ignoredAdminUpdate" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("UpdateIgnored", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
                @Html.HiddenFor(m => m.viewModel.ID, new { @placeholder = "", @class = "validate inputID" })
            <div class="input-field col s12">
                @Html.DropDownListFor(m => m.viewModel.User_Login, new SelectList(Model.allUser), new { @class = "validate inputUser" })
                <label for="User_Login">Login</label>
            </div>
            <div class="input-field col s12">
                @Html.DropDownListFor(m => m.viewModel.Ignored_Login, new SelectList(Model.allUser), new { @class = "validate inputIgnore" })
                <label for="Ignored_Login">Login</label>
            </div>
            <input type="submit" value="Zapisz" class="btn addButton" name="action" />
        }
    </div>
</div>

<div class="tableList" id="ignoredAdmin">
    <h4>Ignorowani</h4> <input type="text" id="adminSearch" class="searchAdmin" placeholder="Szukaj..." /><br />
    <button data-target="ignoredAdminAdd" class="btn modal-trigger ignoredAdminAdd">Dodaj ignora</button>
    <table class="highlight bordered responsive-table centered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Login użytkownika</th>
                <th>Login ignorowanego</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listModel)
            {
                <tr>

                    <td>@item.ID</td>
                    <td class="search">@item.User_Login</td>
                    <td class="search">@item.Ignored_Login</td>
                    <td>
                        <div class="fixed-action-btn horizontal" style="position: relative; top: 5px; float: right">
                            <button class="btn btn-floating">
                                <i class="fa fa-align-justify #00695c teal darken-5"></i>
                            </button>
                            <ul>
                                <li><button data-target="ignoredAdminUpdate" class="btn btn-floating #00695c teal darken-3 modal-trigger ignoredAdminUpdate" onclick="updaterow(['inputID','inputUser','inputIgnored'], ['@item.ID','@item.User_Login','@item.Ignored_Login'])"><i class="fa fa-pencil"></i></button></li>
                                <li><button class="btn btn-floating #00695c teal darken-3" onclick="location.href='@Url.Action("DeleteIgnored", "Admin", new { id = item.ID })'"><i class="fa fa-trash-o"></i></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/js/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/js/UpdateRow.js"></script>
<script>

    $('#ignoredAdmin').slimScroll({
        size: '10px',
        height: '600px',
        alwaysVisible: true
    });

    $(document).ready(function () {
        $('.ignoredAdminAdd').leanModal();
        $('.ignoredAdminUpdate').leanModal();
    });
</script>
