@model Game.GUI.ViewModels.ListTableViewModel
@{
    Layout = null;
}

<div id="mapAdd" class="modal">
    <div class="modal-content">
        <a class="uk-modal-close uk-close"></a>
        <section class="uk-panel uk-panel-box uk-form">
            @using (Html.BeginForm("Add", "Map", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.Label("ID użytkownika: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.tableView.User_ID, null, new { @class = "uk-width-1-1 uk-form-large" })
                @Html.Label("Szerokość: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.tableView.Width, null, new { @class = "uk-width-1-1 uk-form-large" })
                @Html.Label("Wysokość: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.tableView.Height, null, new { @class = "uk-width-1-1 uk-form-large" })

                <input type="submit" value="Zapisz" class="uk-button-large" />
            }
        </section>
    </div>
</div>



<div class="tableList">
    <h4>Mapy</h4><br />
    <a class="waves-effect waves-light btn modal-trigger" href="#adminAdd">Mapy</a>
    <table class="highlight bordered responsive-table centered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Szerokość</th>
                <th>Wysokość</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tableList)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Login</td>
                    <td>@item.Width</td>
                    <td>@item.Height</td>
                    <td>
                        <div class="fixed-action-btn horizontal" style="position: relative; top: 5px; float: right">
                            <button class="btn-floating btn-large red">
                                <i class="fa fa-align-justify #00695c teal darken-5"></i>
                            </button>
                            <ul>
                                <li><button class="btn-floating #00695c teal darken-3"><i class="fa fa-pencil"></i></button></li>
                                <li><button class="btn-floating #00695c teal darken-3" onclick="location.href='@Url.Action("Delete", "Map", new { id = item.ID })'"><i class="fa fa-trash-o"></i></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
