@model Game.GUI.ViewModels.Market.MarketViewModel
@{
    Layout = null;
}

<div id="offerAdd" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("AddOffer", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

            <div class="input-field col s12">
                @Html.DropDownListFor(m => m.viewModel.User_Login, new SelectList(Model.allUser), new { @class = "validate" })
                <label for="User_Login">Login</label>
            </div>

            <div class="input-field col s12">
                @Html.DropDownListFor(m => m.viewModel.Product_Name, new SelectList(Model.allProduct), new { @class = "validate" })
                <label for="Product_Name">Nazwa produktu</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Number, new { placeholder = "", @class = "validate" })
                <label for="Number">Ilość</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Price, new { placeholder = "", @class = "validate" })
                <label for="Price">Cena/szt</label>
            </div>

            <input type="submit" value="Zapisz" class="btn waves-effect waves-light addButton" name="action" />
        }
    </div>
</div>

<div id="offerUpdate" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("UpdateMarket", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                @Html.TextBoxFor(m => m.viewModel.ID, new { placeholder = "", @class = "validate inputID" })
            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.User_Login, new { placeholder = "", @class = "validate inputLogin" })
                <label for="User_Login">Login</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Product_Name, new { placeholder = "", @class = "validate inputProductName" })
                <label for="Product_Name">Nazwa produktu</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Number, new { placeholder = "", @class = "validate inputNumber" })
                <label for="Number">Ilość</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Price, new { placeholder = "", @class = "validate inputPrice" })
                <label for="Price">Cena/szt</label>
            </div>

            <input type="submit" value="Zapisz" class="btn waves-effect waves-light addButton" name="action" />
        }
    </div>
</div>

<div class="tableList" id="marketAdmin">
    <h4>Market</h4><input type="text" id="marketSearch" class="searchAdmin" placeholder="Login..." /><br />
    <button data-target="offerAdd" class="btn modal-trigger offerAdd">Dodaj oferę</button>
    <table class="highlight bordered responsive-table centered">
        <thead>
            <tr>
                <th>Wystwaiający</th>
                <th>Produkt</th>
                <th>Ilość</th>
                <th>Cena/szt.</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listModel)
            {
                <tr>
                    <td class="search">@item.User_Login</td>
                    <td>@item.Product_Name</td>
                    <td>@item.Number</td>
                    <td>@item.Price</td>
                    <td>
                        <div class="fixed-action-btn horizontal" style="position: relative; top: 5px; float: right">
                            <button class="btn-floating btn-large red">
                                <i class="fa fa-align-justify #00695c teal darken-5"></i>
                            </button>
                            <ul>
                                <li><button data-target="offerUpdate" class="btn-floating #00695c teal darken-3 modal-trigger offerUpdate" onclick="updaterow(['inputID','inputLogin','inputProductName','inputNumber','inputPrice'], ['@item.ID','@item.User_Login','@item.Product_Name','@item.Number','@item.Price'])"><i class="fa fa-pencil"></i></button></li>
                                <li><button class="btn-floating #00695c teal darken-3" onclick="location.href='@Url.Action("DeleteMarket", "Admin", new { id = item.ID })'"><i class="fa fa-trash-o"></i></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/js/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/js/UpdateRow.js"></script>
<script>
    $('#marketAdmin').slimScroll({
        size: '10px',
        height: '600px',
        alwaysVisible: true
    });
    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.offerAdd').leanModal();
        $('.offerUpdate').leanModal();
    });</script>
