@model Game.GUI.ViewModels.ListTableViewModel
@{
    Layout = null;
}

<div id="productAdd" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <section class="uk-panel uk-panel-box uk-form">
            @using (Html.BeginForm("Add", "Product", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.Label("Nazwa: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.tableView.Name, null, new { @class = "uk-width-1-1 uk-form-large" })
                @Html.Label("Cena za jednostkę: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.tableView.Price_per_unit, null, new { @class = "uk-width-1-1 uk-form-large" })
                @Html.Label("Jednostka: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.tableView.Unit, null, new { @class = "uk-width-1-1 uk-form-large" })
                @Html.Label("Alias: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.tableView.Alias, null, new { @class = "uk-width-1-1 uk-form-large" })

                <input type="submit" value="Zapisz" class="uk-button-large" />
            }
        </section>
    </div>
</div>


<div id="tableList">
    <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
        <caption>Produkty <button class="uk-button" data-uk-modal="{target:'#productAdd'}">Dodaj nowy</button></caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Wartość jednostki</th>
                <th>Jednostka</th>
                <th>Alias</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tableList)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.Price_per_unit</td>
                    <td>@item.Unit</td>
                    <td>@item.Alias</td>
                    <td class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                        <button class="uk-button" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false">
                            Menu <span class="caret"></span>
                        </button>
                        <div class="uk-dropdown uk-dropdown-small">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li><div class="button btn-build buildButton" onclick="update(@item.ID)">Edytuj</div></li>
                                <li><div class="button btn-build buildButton" onclick="location.href='@Url.Action("Delete","Product", new { id = item.ID })'">Usuń</div></li>

                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>