@model Game.GUI.ViewModels.ListTableViewModel
@{
    Layout = null;
}

<div id="productAdd" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("Add", "Product", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.Label("Nazwa: ", new { @class = "uk-form-label" })
            @Html.TextBoxFor(m => m.tableView.Name, null, new { @class = "uk-width-1-1 uk-form-large" })
            @Html.Label("Cena za jednostkę: ", new { @class = "uk-form-label" })
            @Html.TextBoxFor(m => m.tableView.Price_per_unit, null, new { @class = "uk-width-1-1 uk-form-large" })
            @Html.Label("Jednostka: ", new { @class = "uk-form-label" })
            @Html.TextBoxFor(m => m.tableView.Unit, null, new { @class = "uk-width-1-1 uk-form-large" })
            @Html.Label("Alias: ", new { @class = "uk-form-label" })
            @Html.TextBoxFor(m => m.tableView.Alias, null, new { @class = "uk-width-1-1 uk-form-large" })

            <input type="submit" value="Zapisz" class="uk-button-large" />
        }
    </div>
</div>


<div class="tableList">
    <h4>Produkty</h4><br />
    <a class="waves-effect waves-light btn modal-trigger" href="#adminAdd">Dodaj produkty</a>
    <table class="highlight bordered responsive-table centered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Wartość jednostki</th>
                <th>Jednostka</th>
                <th>Alias</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tableList)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.Price_per_unit</td>
                    <td>@item.Unit</td>
                    <td>@item.Alias</td>
                    <td>
                        <div class="fixed-action-btn horizontal" style="position: relative; top: 5px; float: right">
                            <button class="btn-floating btn-large red">
                                <i class="fa fa-align-justify #00695c teal darken-5"></i>
                            </button>
                            <ul>
                                <li><button class="btn-floating #00695c teal darken-3"><i class="fa fa-pencil"></i></button></li>
                                <li><button class="btn-floating #00695c teal darken-3" onclick="location.href='@Url.Action("Delete", "Product", new { id = item.ID })'"><i class="fa fa-trash-o"></i></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>