@model Game.GUI.ViewModels.ListTableViewModel
@{
    Layout = null;
}

<div id="userAdd" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <section class="uk-panel uk-panel-box uk-form">
            @using (Html.BeginForm("Add", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.Label("Login: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.tableView.Login, null, new { @class = "uk-width-1-1 uk-form-large" })
                @Html.Label("Hasło: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.tableView.Password, null, new { @class = "uk-width-1-1 uk-form-large" })
                @Html.Label("E-mail: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.tableView.Email, null, new { @class = "uk-width-1-1 uk-form-large" })
                @Html.Label("Ostatnie logowanie: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.tableView.Last_Log, null, new { @class = "uk-width-1-1 uk-form-large" })
                @Html.Label("Data rejestracji: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.tableView.Registration_Date, null, new { @class = "uk-width-1-1 uk-form-large" })
                @Html.Label("Ostatni update surowców: ", new { @class = "uk-form-label" })
                @Html.TextBoxFor(m => m.tableView.Last_Update, null, new { @class = "uk-width-1-1 uk-form-large" })

                <input type="submit" value="Zapisz" class="uk-button-large" />
            }
        </section>
    </div>
</div>



<div id="tableList">
    <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
        <caption>Użytkownicy <button class="uk-button" data-uk-modal="{target:'#userAdd'}">Dodaj nowy</button></caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Password</th>
                <th>E-mail</th>
                <th>Data rejestracji</th>
                <th>Ostatnie logowanie</th>
                <th>Ostatni update</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tableList)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Login</td>
                    <td>@item.Password</td>
                    <td>@item.Email</td>
                    <td>@item.Registration_Date</td>
                    <td>@item.Last_Log</td>
                    <td>@item.Last_Update</td>
                    <td class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                        <button class="uk-button" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false">
                            Menu <span class="caret"></span>
                        </button>
                        <div class="uk-dropdown uk-dropdown-small">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li><div class="button btn-build buildButton" onclick="update(@item.ID)">Edytuj</div></li>
                                <li><div class="button btn-build buildButton" onclick="location.href='@Url.Action("Delete","User", new { id = item.ID })'">Usuń</div></li>

                            </ul>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>