@model Game.GUI.ViewModels.ListTableViewModel
@{
    Layout = null;
}

<div id="userAdd" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("Add", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.Label("Login: ", new { @class = "uk-form-label" })
            @Html.TextBoxFor(m => m.tableView.Login, null, new { @class = "uk-width-1-1 uk-form-large" })
            @Html.Label("Hasło: ", new { @class = "uk-form-label" })
            @Html.TextBoxFor(m => m.tableView.Password, null, new { @class = "uk-width-1-1 uk-form-large" })
            @Html.Label("E-mail: ", new { @class = "uk-form-label" })
            @Html.TextBoxFor(m => m.tableView.Email, null, new { @class = "uk-width-1-1 uk-form-large" })
            @Html.Label("Ostatnie logowanie: ", new { @class = "uk-form-label" })
            @Html.TextBoxFor(m => m.tableView.Last_Log, null, new { @class = "uk-width-1-1 uk-form-large" })
            @Html.Label("Data rejestracji: ", new { @class = "uk-form-label" })
            @Html.TextBoxFor(m => m.tableView.Registration_Date, null, new { @class = "uk-width-1-1 uk-form-large" })
            @Html.Label("Ostatni update surowców: ", new { @class = "uk-form-label" })
            @Html.TextBoxFor(m => m.tableView.Last_Update, null, new { @class = "uk-width-1-1 uk-form-large" })

            <input type="submit" value="Zapisz" class="uk-button-large" />
        }
    </div>
</div>



<div class="tableList">
    <h4>Użytkownicy</h4><br />
    <a class="waves-effect waves-light btn modal-trigger add" id="Add" href="#userAdd">Dodaj użytkownika</a>
    <table class="highlight bordered responsive-table centered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Password</th>
                <th>E-mail</th>
                <th>Data rejestracji</th>
                <th>Ostatnie logowanie</th>
                <th>Ostatni update</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tableList)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Login</td>
                    <td>@item.Password</td>
                    <td>@item.Email</td>
                    <td>@item.Registration_Date</td>
                    <td>@item.Last_Log</td>
                    <td>@item.Last_Update</td>
                    <td>
                        <div class="fixed-action-btn horizontal" style="position: relative; top: 5px; float: right">
                            <button class="btn-floating btn-large red">
                                <i class="fa fa-align-justify #00695c teal darken-5"></i>
                            </button>
                            <ul>
                                <li><button class="btn-floating #00695c teal darken-3"><i class="fa fa-pencil"></i></button></li>
                                <li><button class="btn-floating #00695c teal darken-3" onclick="location.href='@Url.Action("Delete", "User", new { id = item.ID })'"><i class="fa fa-trash-o"></i></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script>
 $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
     $('.add').leanModal();
 });
</script>