@model Game.GUI.ViewModels.ListTableViewModel
@{
    Layout = null;
}

<div id="ubuildingAdd" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("Add", "UserProduct", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.Label("ID użytkownika: ", new { @class = "uk-form-label" })
            @Html.TextBoxFor(m => m.tableView.User_ID, null, new { @class = "uk-width-1-1 uk-form-large" })
            @Html.Label("Pozycja X: ", new { @class = "uk-form-label" })
            @Html.TextBoxFor(m => m.tableView.X_pos, null, new { @class = "uk-width-1-1 uk-form-large" })
            @Html.Label("Pozyja Y: ", new { @class = "uk-form-label" })
            @Html.TextBoxFor(m => m.tableView.Y_pos, null, new { @class = "uk-width-1-1 uk-form-large" })
            @Html.Label("Lvl: ", new { @class = "uk-form-label" })
            @Html.TextBoxFor(m => m.tableView.Lvl, null, new { @class = "uk-width-1-1 uk-form-large" })
            @Html.Label("ID bydynku: ", new { @class = "uk-form-label" })
            @Html.TextBoxFor(m => m.tableView.Building_ID, null, new { @class = "uk-width-1-1 uk-form-large" })
            @Html.Label("Statu: ", new { @class = "uk-form-label" })
            @Html.TextBoxFor(m => m.tableView.Status, null, new { @class = "uk-width-1-1 uk-form-large" })

            <input type="submit" value="Zapisz" class="uk-button-large" />
        }
    </div>
</div>

<div class="tableList">
    <h4>Budynki użytkownika</h4><br />
    <a class="waves-effect waves-light btn modal-trigger" href="#adminAdd">Dodaj budynek użytkownikowi</a>
    <table class="highlight bordered responsive-table centered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Pozycja X</th>
                <th>Pozycja Y</th>
                <th>Level</th>
                <th>Budynek</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tableList)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Login</td>
                    <td>@item.X_pos</td>
                    <td>@item.Y_pos</td>
                    <td>@item.Lvl</td>
                    <td>@item.Name</td>
                    <td>@item.Status</td>
                    <td>
                        <div class="fixed-action-btn horizontal" style="position: relative; top: 5px; float: right">
                            <button class="btn-floating btn-large red">
                                <i class="fa fa-align-justify #00695c teal darken-5"></i>
                            </button>
                            <ul>
                                <li><button class="btn-floating #00695c teal darken-3"><i class="fa fa-pencil"></i></button></li>
                                <li><button class="btn-floating #00695c teal darken-3" onclick="location.href='@Url.Action("Delete", "UserBuilding", new { id = item.ID })'"><i class="fa fa-trash-o"></i></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>