@model Game.GUI.ViewModels.ListTableViewModel
@{
    Layout = null;
}

<div id="userAdd" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("Add", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.Login, new { placeholder = "", @class = "validate" })
                <label for="Login">Login</label>
            </div>

            <div class="input-field col s12">
                @Html.PasswordFor(m => m.tableView.Password, new { placeholder = "", @class = "validate" })
                <label for="Password">Hasło</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.Email, new { placeholder = "", @class = "validate" })
                <label for="Email">Email</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.Last_Log, new { placeholder = "", @type = "date", @class = "validate datepicker" })
                <label for="Last_Log">Ostatnie logowanie</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.Registration_Date, new { placeholder = "", @type = "date", @class = "validate datepicker" })
                <label for="Registration_Date">Data rejestracji</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.Last_Update, new { placeholder = "", @type = "date", @class = "validate datepicker" })
                <label for="Last_update">Ostatni update surowców</label>
            </div>

            <input type="submit" value="Zapisz" class="btn waves-effect waves-light addButton" name="action" />

        }
    </div>
</div>

<div id="userUpdate" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("Add", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.ID, new { placeholder = "", @class = "validate inputID" })
                <label for="ID">ID</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.Login, new { placeholder = "", @class = "validate inputLogin" })
                <label for="Login">Login</label>
            </div>

            <div class="input-field col s12">
                @Html.PasswordFor(m => m.tableView.Password, new { placeholder = "", @class = "validate inputPassword" })
                <label for="Password">Hasło</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.Email, new { placeholder = "", @class = "validate inputEmail" })
                <label for="Email">Email</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.Last_Log, new { placeholder = "", @type = "date", @class = "validate datepicker inputLastLog" })
                <label for="Last_Log">Ostatnie logowanie</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.Registration_Date, new { placeholder = "", @type = "date", @class = "validate datepicker inputRegistrationDate" })
                <label for="Registration_Date">Data rejestracji</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.tableView.Last_Update, new { placeholder = "", @type = "date", @class = "validate datepicker inputLastUpdate" })
                <label for="Last_update">Ostatni update surowców</label>
            </div>

            <input type="submit" value="Zapisz" class="btn waves-effect waves-light addButton" name="action" />

        }
    </div>
</div>

<div class="tableList">
    <h4>Użytkownicy</h4><br />
    <button data-target="userAdd" class="btn modal-trigger userAdd">Dodaj użytkownika</button>
    <table class="highlight bordered responsive-table centered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Password</th>
                <th>E-mail</th>
                <th>Data rejestracji</th>
                <th>Ostatnie logowanie</th>
                <th>Ostatni update</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tableList)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Login</td>
                    <td>@item.Password</td>
                    <td>@item.Email</td>
                    <td>@item.Registration_Date</td>
                    <td>@item.Last_Log</td>
                    <td>@item.Last_Update</td>
                    <td>
                        <div class="fixed-action-btn horizontal" style="position: relative; top: 5px; float: right">
                            <button class="btn-floating btn-large red">
                                <i class="fa fa-align-justify #00695c teal darken-5"></i>
                            </button>
                            <ul>
                                <li><button data-target="userUpdate" class="btn-floating #00695c teal darken-3 modal-trigger userUpdate" 
                                            onclick="updaterow(['inputID','inputLogin','inputPassword','inputEmail','inputLastLog', 'inputRegistrationDate','inputLastUpdate'], 
                                            ['@item.ID','@item.Login','@item.Password','@item.Email','@item.Last_Log','@item.Registration_Date','@item.Last_Update'])"><i class="fa fa-pencil"></i></button></li>
                                <li><button class="btn-floating #00695c teal darken-3" onclick="location.href='@Url.Action("Delete", "User", new { id = item.ID })'"><i class="fa fa-trash-o"></i></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script>
    $(document).ready(function () {
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.userAdd').leanModal();
        $('.userUpdate').leanModal();

});</script>
