@model List<Game.GUI.ViewModels.TableViewModel>
@{
    Layout = null;
}
<div id="administrationList">
    <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
        <caption>Budynki użytkownika<div class="uk-button">Dodaj nowy</div></caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>ID użytkownika</th>
                <th>Pozycja X</th>
                <th>Pozycja Y</th>
                <th>Level</th>
                <th>ID Budynku</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.User_ID</td>
                    <td>@item.X_pos</td>
                    <td>@item.Y_pos</td>
                    <td>@item.Lvl</td>
                    <td>@item.Building_ID</td>
                    <td>@item.Status</td>
                    <td class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                        <button class="uk-button" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false">
                            Menu <span class="caret"></span>
                        </button>
                        <div class="uk-dropdown uk-dropdown-small">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li><div class="button btn-build buildButton" onclick="update(@item.ID)">Edytuj</div></li>
                                <li><div class="button btn-build buildButton" onclick="delet(@item.ID)">Usuń</div></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>