@model Game.GUI.ViewModels.Building.UserBuildings.UserBuildingsViewModel
@{
    Layout = null;
}

<div id="ubuildingAdd" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("AddUserBuilding", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <div class="input-field col s12">
               @Html.DropDownListFor(m => m.viewModel.User_Login, new SelectList(Model.allUser), new { @class = "validate" })
                <label for="User_Login">Login</label>
            </div>

            <div class="input-field col s12">
                @Html.DropDownListFor(m => m.viewModel.Building_Name, new SelectList(Model.allBuilding), new { @class = "validate" })
                <label for="Building_Name">Nazwa budynku</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.X_pos, new { placeholder = "", @type="number", @min="0", @class = "validate" })
                <label for="X_pos">Pozycja X</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Y_pos, new { placeholder = "", @type = "number", @min = "0", @class = "validate" })
                <label for="Y_pos">Pozycja Y</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Lvl, new { placeholder = "", @type = "number", @min = "0", @class = "validate" })
                <label for="Lvl">Lvl budynku</label>
            </div>

            <div class="input-field col s12">
                @Html.DropDownListFor(m => m.viewModel.Status, new SelectList(new List<string>(new string[] { "gotowy", "burzenie","rozbudowa" })), new { placeholder = "", @class = "validate" })
                <label for="Status">Status</label>
            </div>

            <div class="input-field col s12">
                @Html.DropDownListFor(m => m.viewModel.Owner, new SelectList(new List<string>(new string[] { "Tak", "Nie"})), new { @class = "validate" })
                <label for="Owner">Jest właścicielem?</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Percent_product, new { placeholder = "", @type = "number", @min = "0", @class = "validate" })
                <label for="Percent_product">Procent produckji</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Color, new { placeholder = "", @class = "validate" })
                <label for="Color">Kolor (hex)</label>
            </div>

            <input type="submit" value="Zapisz" class="btn addButton" name="action" />

        }
    </div>
</div>

<div id="ubuildingUpdate" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("UpdateUserBuilding", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.HiddenFor(m => m.viewModel.ID, new { placeholder = "", @class = "validate inputID" })

            <div class="input-field col s12">
                @Html.DropDownListFor(m => m.viewModel.User_Login, new SelectList(Model.allUser), new { @class = "validate inputLoginDrop" })
                <label for="User_Login">Login</label>
            </div>

            <div class="input-field col s12">
                @Html.DropDownListFor(m => m.viewModel.Building_Name, new SelectList(Model.allBuilding), new { @class = "validate inputBuildingDrop" })
                <label for="Name">Nazwa budynku</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.X_pos, new { placeholder = "", @type = "number", @min = "0", @class = "validate inputX_pos" })
                <label for="X_pos">Pozycja X</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Y_pos, new { placeholder = "", @type = "number", @min = "0", @class = "validate inputY_pos" })
                <label for="Y_pos">Pozycja Y</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Lvl, new { placeholder = "", @type = "number", @min = "0", @class = "validate inputLvl" })
                <label for="Lvl">Lvl budynku</label>
            </div>

            <div class="input-field col s12">
                @Html.DropDownListFor(m => m.viewModel.Status, new SelectList(new List<string>(new string[] { "gotowy", "burzenie", "rozbudowa" })), new { placeholder = "", @class = "validate inputStatusDrop" })
                <label for="Status">Status</label>
            </div>

            <div class="input-field col s12">
                @Html.DropDownListFor(m => m.viewModel.Owner, new SelectList(new List<string>(new string[] { "Tak", "Nie" })), new { @class = "validate inputOwnerDrop" })
                <label for="Owner">Jest właścicielem?</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Percent_product, new { placeholder = "", @type = "number", @min = "0", @class = "validate inputPercentProduct" })
                <label for="Percent_product">Procent produckji</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Color, new { placeholder = "", @class = "validate inputColor" })
                <label for="Color">Kolor</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.DateOfConstruction, new { placeholder = "", @class = "validate datepicker inputDate" })
                <label for="DateOfConstruction">Koniec budowy</label>
            </div>

            <input type="submit" value="Zapisz" class="btn addButton" name="action" />

        }
    </div>
</div>

<div class="tableList" id="userBuildingsAdmin">
    <h4>Budynki użytkownika</h4><input type="text" id="userBuildingSearch" class="searchAdmin" placeholder="Szukaj..." /><br />
    <button data-target="ubuildingAdd" class="btn modal-trigger ubuildingAdd">Dodaj budynek użytkownika</button>
    <table class="highlight bordered responsive-table centered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Pozycja X</th>
                <th>Pozycja Y</th>
                <th>Level</th>
                <th>Budynek</th>
                <th>Status</th>
                <th>Jest właścicielem</th>
                <th>Procent produkcji</th>
                <th>Kolor</th>
                <th>Koniec budowy</th>
                <th>Budynek z umowy</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listModel)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.User_Login</td>
                    <td>@item.X_pos</td>
                    <td>@item.Y_pos</td>
                    <td>@item.Lvl</td>
                    <td>@item.Building_Name</td>
                    <td>@item.Status</td>
                    <td>@item.Owner</td>
                    <td>@item.Percent_product</td>
                    <td>@item.Color</td>
                    <td>@item.DateOfConstruction</td>
                    <td>@item.ifDeal</td>
                    <td>
                        <div class="fixed-action-btn horizontal" style="position: relative; top: 5px; float: right">
                            <button class="btn btn-floating">
                                <i class="fa fa-align-justify #00695c teal darken-5"></i>
                            </button>
                            <ul>
                                <li><button data-target="ubuildingUpdate" class="btn btn-floating #00695c teal darken-3 modal-trigger ubuildingUpdate" onclick="updaterow(['inputID','inputLoginDrop','inputBuildingDrop','inputX_pos','inputY_pos','inputLvl','inputStatus','inputOwnerDrop','inputPercentProduct','inputColor','inputDate'],
                                             ['@item.ID','@item.User_Login','@item.Building_Name','@item.X_pos','@item.Y_pos','@item.Lvl','@item.Status','@item.Owner','@item.Percent_product','@item.Color','@item.DateOfConstruction'])"><i class="fa fa-pencil"></i></button></li>
                                <li><button class="btn btn-floating #00695c teal darken-3" onclick="if(confirm('Na pewno?')==true) { location.href='@Url.Action("DeleteUserBuilding", "Admin", new { id = item.ID })'}"><i class="fa fa-trash-o"></i></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/js/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/js/UpdateRow.js"></script>
<script>
    $('#userBuildingsAdmin').slimScroll({
        size: '10px',
        height: '600px',
        alwaysVisible: true
    });
    $(document).ready(function () {
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.ubuildingAdd').leanModal();
        $('.ubuildingUpdate').leanModal();
});</script>
