@model Game.GUI.ViewModels.Product.UserProduct.UserProductViewModel
    @using PagedList.Mvc
@{
    Layout = null;
}

<div id="uproductAdd" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("AddUserProduct", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.User_Login, new { placeholder = "", @class = "validate" })
                <label for="User_Login">Login</label>
            </div>
            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Product_Name, new { placeholder = "", @class = "validate" })
                <label for="Product_Name">Nazwa produktu</label>
            </div>
            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Value, new { placeholder = "", @class = "validate" })
                <label for="Value">Ilość</label>
            </div>

            <input type="submit" value="Zapisz" class="btn waves-effect waves-light addButton" name="action" />
        }
    </div>
</div>

<div id="uproductUpdate" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("UpdateUserProduct", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.HiddenFor(m => m.viewModel.ID, new { placeholder = "", @class = "validate inputID" })

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.User_Login, new { placeholder = "", @class = "validate inputLogin" })
                <label for="User_Login">Login</label>
            </div>
            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Product_Name, new { placeholder = "", @class = "validate inputProductName" })
                <label for="Product_Name">Nazwa produktu</label>
            </div>
            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Value, new { placeholder = "", @class = "validate inputValue" })
                <label for="Value">Ilość</label>
            </div>

            <input type="submit" value="Zapisz" class="btn waves-effect waves-light addButton" name="action" />
        }
    </div>
</div>

<div class="tableList" id="userProductsAdmin">
    <h4>Produkty użytkownika</h4><input type="text" id="userProductSearch" class="searchAdmin" placeholder="Login..." /><br />
    <button data-target="uproductAdd" class="btn modal-trigger uproductAdd">Dodaj produkt</button>
    <table class="highlight bordered responsive-table centered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Nazwa produktu</th>
                <th>Ilość</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listModel)
            {
                <tr>
                    <td>@item.ID</td>
                    <td class="search">@item.User_Login</td>
                    <td>@item.Product_Name</td>
                    <td>@item.Value</td>
                    <td>
                        <div class="fixed-action-btn horizontal" style="position: relative; top: 5px; float: right">
                            <button class="btn-floating btn-large red">
                                <i class="fa fa-align-justify #00695c teal darken-5"></i>
                            </button>
                            <ul>
                                <li><button data-target="uproductUpdate" class="btn-floating #00695c teal darken-3 modal-trigger uproductUpdate" onclick="updaterow(['inputID','inputLogin','inputProductName','inputValue'], 
                                            ['@item.ID','@item.User_Login','@item.Product_Name','@item.Value'])"><i class="fa fa-pencil"></i></button></li>
                                <li><button class="btn-floating #00695c teal darken-3" onclick="location.href='@Url.Action("DeleteUserProduct", "Admin", new { id = item.ID })'"><i class="fa fa-trash-o"></i></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/js/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/js/UpdateRow.js"></script>
<script>
    $('#userProductsAdmin').slimScroll({
        size: '10px',
        height: '600px',
        alwaysVisible: true
    });

    $(document).ready(function () {
        $('.uproductAdd').leanModal();
        $('.uproductUpdate').leanModal();
    });
</script>
