@model Game.GUI.ViewModels.Building.UserBuildings.UserBuildingsViewModel
@{
    Layout = null;
}

<div id="ubuildingAdd" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("AddUserBuilding", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.User_Login, new { placeholder = "", @class = "validate" })
                <label for="User_Login">Login</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Building_Name, new { placeholder = "", @class = "validate" })
                <label for="Name">Nazwa budynku</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.X_pos, new { placeholder = "", @class = "validate" })
                <label for="X_pos">Pozycja X</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Y_pos, new { placeholder = "", @class = "validate" })
                <label for="Y_pos">Pozycja Y</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Lvl, new { placeholder = "", @class = "validate" })
                <label for="Lvl">Lvl budynku</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Status, new { placeholder = "", @class = "validate" })
                <label for="Status">Status</label>
            </div>

            <input type="submit" value="Zapisz" class="btn addButton" name="action" />

        }
    </div>
</div>

<div id="ubuildingUpdate" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("UpdateUserBuilding", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.HiddenFor(m => m.viewModel.ID, new { placeholder = "", @class = "validate inputID" })

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.User_Login, new { placeholder = "", @class = "validate inputLogin" })
                <label for="User_Login">Login</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Building_Name, new { placeholder = "", @class = "validate inputName" })
                <label for="Name">Nazwa budynku</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.X_pos, new { placeholder = "", @class = "validate inputX_pos" })
                <label for="X_pos">Pozycja X</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Y_pos, new { placeholder = "", @class = "validate inputY_pos" })
                <label for="Y_pos">Pozycja Y</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Lvl, new { placeholder = "", @class = "validate inputLvl" })
                <label for="Lvl">Lvl budynku</label>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Status, new { placeholder = "", @class = "validate inputStatus" })
                <label for="Status">Status</label>
            </div>

            <input type="submit" value="Zapisz" class="btn addButton" name="action" />

        }
    </div>
</div>

<div class="tableList" id="userBuildingsAdmin">
    <h4>Budynki użytkownika</h4><input type="text" id="userBuildingSearch" class="searchAdmin" placeholder="Login..." /><br />
    <button data-target="ubuildingAdd" class="btn modal-trigger ubuildingAdd">Dodaj budynek użytkownika</button>
    <table class="highlight bordered responsive-table centered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Pozycja X</th>
                <th>Pozycja Y</th>
                <th>Level</th>
                <th>Budynek</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listModel)
            {
                <tr>
                    <td>@item.ID</td>
                    <td class="search">@item.User_Login</td>
                    <td>@item.X_pos</td>
                    <td>@item.Y_pos</td>
                    <td>@item.Lvl</td>
                    <td>@item.Building_Name</td>
                    <td>@item.Status</td>
                    <td>
                        <div class="fixed-action-btn horizontal" style="position: relative; top: 5px; float: right">
                            <button class="btn-floating btn-large red">
                                <i class="fa fa-align-justify #00695c teal darken-5"></i>
                            </button>
                            <ul>
                                <li><button data-target="ubuildingUpdate" class="btn-floating #00695c teal darken-3 modal-trigger ubuildingUpdate" onclick="updaterow(['inputID','inputLogin','inputName','inputX_pos','inputY_pos','inputLvl','inputStatus'],
                                             ['@item.ID','@item.User_Login','@item.Building_Name','@item.X_pos','@item.Y_pos','@item.Lvl','@item.Status'])"><i class="fa fa-pencil"></i></button></li>
                                <li><button class="btn-floating #00695c teal darken-3" onclick="location.href='@Url.Action("DeleteUserBuilding", "Admin", new { id = item.ID })'"><i class="fa fa-trash-o"></i></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/js/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/js/UpdateRow.js"></script>
<script>
    $('#userBuildingsAdmin').slimScroll({
        size: '10px',
        height: '600px',
        alwaysVisible: true
    });
    $(document).ready(function () {
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.ubuildingAdd').leanModal();
        $('.ubuildingUpdate').leanModal();
});</script>
