@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="uk-grid" style="background-color: #fff">
    <div class="uk-width-medium-1-10">
        <!-- This is the vertical tabbed navigation containing the toggling elements -->
        <ul class="uk-tab uk-tab-left" data-uk-tab="{connect:'#my-id'}">
            <li><a href="">Użytkownicy</a></li>
            <li><a href="">Admini</a></li>
            <li><a href="">Bany</a></li>
            <li><a href="">Pieniądze</a></li>
            <li><a href="">Mapy</a></li>
            <li><a href="">Produkty</a></li>
            <li><a href="">Budynki</a></li>
            <li><a href="">Budynki użytkownika</a></li>
            <li><a href="">Produkty użytkownika</a></li>
            <li><a href="">Kolejka budowy</a></li>

        </ul>
    </div>
    <div class="uk-width-medium-9-10">
        <!-- This is the container of the content items -->
        <ul id="my-id" class="uk-switcher">
            <li>@Html.Action("_UserList", "User")</li>
            <li>@Html.Action("_AdminList", "Admin")</li>
            <li>@Html.Action("_BanList", "Ban")</li>
            <li>@Html.Action("_DolarList", "Dolar")</li>
            <li>@Html.Action("_MapList", "Map")</li>
            <li>@Html.Action("_ProductList", "Product")</li>
            <li>@Html.Action("_BuildingList2", "Building")</li>
            <li>@Html.Action("_UserBuildingList", "UserBuilding")</li>
            <li>@Html.Action("_UserProductList", "UserProduct")</li>
            <li>@Html.Action("_BuildingQueueList", "BuildingQueue")</li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/js/uikit.js"></script>
