@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="#Użytkownicy">Użytkownicy</a></li>
            <li class="tab col s3"><a href="#Admini">Admini</a></li>
            <li class="tab col s3"><a href="#Bany">Bany</a></li>
            <li class="tab col s3"><a href="#Dolar">Dolar</a></li>
            <li class="tab col s3"><a href="#Mapy">Mapy</a></li>
            <li class="tab col s3"><a href="#Produkty">Produkty</a></li>
            <li class="tab col s3"><a href="#Budynki">Budynki</a></li>
            <li class="tab col s3"><a href="#Budynki_użytkownika">Budynki użytkownika</a></li>
            <li class="tab col s3"><a href="#Produkty_użytkownika">Produkty użytkownika</a></li>
            <li class="tab col s3"><a href="#Kolejka_budowy">Kolejka budowy</a></li>
        </ul>
    </div>
    <div id="Użytkownicy" class="col s12">@Html.Action("_UserList", "User")</div>
    <div id="Admini" class="col s12">@Html.Action("_AdminList", "Admin")</div>
    <div id="Bany" class="col s12">@Html.Action("_BanList", "Ban")</div>
    <div id="Dolar" class="col s12">@Html.Action("_DolarList", "Dolar")</div>
    <div id="Mapy" class="col s12">@Html.Action("_MapList", "Map")</div>
    <div id="Produkty" class="col s12">@Html.Action("_ProductList", "Product")</div>
    <div id="Budynki" class="col s12">@Html.Action("_BuildingList2", "Building")</div>
    <div id="Budynki_użytkownika" class="col s12">@Html.Action("_UserBuildingList", "UserBuilding")</div>
    <div id="Produkty_użytkownika" class="col s12">@Html.Action("_UserProductList", "UserProduct")</div>
    <div id="Kolejka_budowy" class="col s12">@Html.Action("_BuildingQueueList", "BuildingQueue")</div>
</div>


<script>
    $(document).ready(function () {
        $('ul.tabs').tabs('select_tab', 'tab_id');
    });
</script>
