@model Game.GUI.ViewModels.Message.MessageViewModel
@{
    Layout = null;
}

<div class="newMessage">
    <h5>Nowa wiadmość:</h5>
    @using (Html.BeginForm("SendMessage", "Message", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => User.Identity.Name);
        <div class="input-field col s12">
            @Html.Hidden(User.Identity.Name)
        </div>
        <div class="input-field col s12 login">
            @Html.DropDownListFor(m => m.viewModel.Customer_Login, new SelectList(Model.userList), new { @class = "validate" })
            <label for="Customer_Login">Odbiorca:</label>
        </div>

        <div class="input-field col s12">
            @Html.TextBoxFor(m => m.viewModel.Theme, new { placeholder = "", @class = "validate", @maxlength = "150" })
            <label for="Theme">Tytuł:</label>
        </div>

        <div class="input-field col s12">
            @Html.TextAreaFor(m => m.viewModel.Content, new { placeholder = "", @class = "materialize-textarea" })
            <label for="Content">Treść:</label>
        </div>
        <button type="submit" class="btn sendMessageBtn" name="action">Wyślij</button>
    }
</div>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="/signalr/hubs"></script>
<script>
    $(document).ready(function () {
        $('select').material_select();
        $('.sendMessageBtn').attr("disabled", true);

        $(".newMessage").keyup(function () {
            if ($("#viewModel_Customer_Login").val() != ""
                && $("#viewModel_Theme").val() != ""
                && $("#viewModel_Content").val() != "") {
                $('.sendMessageBtn').attr("disabled", false);
            }
            else {
                $('.sendMessageBtn').attr("disabled", true);
            }
        })
    });
</script>
