@model Game.GUI.ViewModels.ListTableViewModel
@{
    Layout = null;
}

<div class="sentMessage">
    @if (!Model.tableList.Any())
    {
        <span class="noRow">Brak wiadomości</span>
    }
    else
    {
        <table class="bordered centered">
            <thead>
                <tr>
                    <th>Odbiorca</th>
                    <th>Temat</th>
                    <th>Data wysłania</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.tableList)
                {
                    <tr onclick="location.href='@Url.Action("Content", "Message", new { MessageID = @item.ID })'">
                        <td>@item.Customer_Login</td>
                        <td>@item.Theme</td>
                        <td>@item.PostDate</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
