@model PagedList.IPagedList<Game.GUI.ViewModels.TableViewModel>
@using PagedList.Mvc;
@{
    Layout = null;
}

<div class="sentMessage">
    @if (!Model.Any())
    {
        <span class="noRow">Brak wiadomości</span>
    }
    else
    {
        <table class="bordered centered">
            <thead>
                <tr>
                    <th>Odbiorca</th>
                    <th>Temat</th>
                    <th>Data wysłania</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr onclick="location.href='@Url.Action("Content", "Message", new { MessageID = @item.ID })'">
                        <td>@Html.DisplayFor(modelItem=>item.Customer_Login)</td>
                        <td>@Html.DisplayFor(modelItem => item.Theme)</td>
                        <td>@Html.DisplayFor(modelItem => item.PostDate)</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="paginationRank">
            @Html.PagedListPager(Model, Page_No => Url.Action("_SentMessage", new { Page_No }))
        </div>
    }
</div>
