@model Game.GUI.ViewModels.Message.MessageViewModel
@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="answerButton" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm("SendMessage", "Message", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.Hidden(User.Identity.Name);

            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Customer_Login, new { @placeholder = "", @class = "validate inputLogin" })
                <label for="Odbiorca">Odbiorca:</label>
            </div>
            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.viewModel.Theme, new { @placeholder = "", @class = "validate inputTheme", length = "150" })
                <label for="Login">Tytuł:</label>
            </div>

            <div class="input-field col s12">
                @Html.TextAreaFor(m => m.viewModel.Content, new { @placeholder = "", @class = "materialize-textarea inputContent" })
                <label for="Login">Treść:</label>
            </div>
            <button type="submit" value="Wyślij" class="btn addButton sendMessage sendMessageBtn" style="background-color: #617487" name="action">Wyślij</button>
        }
    </div>
</div>




@Html.HiddenFor(m => Model.viewModel.ID)
@Html.HiddenFor(m => Model.viewModel.Sender_Login)
@Html.HiddenFor(m => Model.viewModel.Theme)


<div class="contentMessage">

    <div class="contentButton">
        @if (Model.viewModel.Sender_Login != User.Identity.Name)
        {
            <button class="btn answerButton" id="answerButton" data-target="answerButton"><i class="fa fa-retweet"></i>Odpowiedz</button>
        }
        <button class="btn deleteMessage"><i class="fa fa-trash"></i>Usuń</button>
    </div>

    <span class="theme">@Model.viewModel.Theme</span>
    @if (Model.viewModel.Sender_Login != User.Identity.Name)
    {
        <span class="sender">Od:<span class="login" onclick="location.href='@Url.Action("Profil", "User", new { User = @Model.viewModel.Sender_Login })'">@Model.viewModel.Sender_Login</span> Data: <span class="date">@Model.viewModel.PostDate</span></span>
    }
    else
    {
        <span class="sender">Do:<span class="login" onclick="location.href='@Url.Action("Profil", "User", new { User = @Model.viewModel.Sender_Login })'">@Model.viewModel.Customer_Login</span> Data: <span class="date">@Model.viewModel.PostDate</span></span>

    }
    <span class="content">
        <span class="contentTitle">Treść:</span>
        @Model.viewModel.Content
    </span>
</div>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/js/Message.js"></script>
<script>
    $(document).ready(function () {
        $('.answerButton').leanModal();

        $("#viewModel_Customer_Login").val($("#viewModel_Sender_Login").val());
        $(".inputLogin").attr("readonly", true);
        $("#viewModel_Theme").val("Re: " + $("#viewModel_Theme").val());
        $(".inputTheme").attr("readonly", true);
        $(".inputContent").val("");
    });
</script>